Reference:
https://github.com/umbertogriffo/Predictive-Maintenance-using-LSTM/blob/master/src/lstm/regression.py

In [2]:
import keras

Using TensorFlow backend.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Setting seed for reproducability
np.random.seed(1234)  
PYTHONHASHSEED = 0
from sklearn import preprocessing
from sklearn.metrics import confusion_matrix, recall_score, precision_score
from keras.models import Sequential, load_model
from keras.layers import Dense, Dropout, LSTM, Activation, Conv1D, MaxPooling1D
%matplotlib inline

In [4]:
jet = pd.read_table('../train_data.txt',sep=' ',header=None)
jet.drop([26,27],axis=1,inplace=True)
jet.columns = ['id', 'cycle', 'setting1', 'setting2', 'setting3', 's1', 's2', 's3',
                     's4', 's5', 's6', 's7', 's8', 's9', 's10', 's11', 's12', 's13', 's14',
                     's15', 's16', 's17', 's18', 's19', 's20', 's21']
train_df = jet
train_df.head()

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
0,1,1,34.9983,0.8400,100.0,449.44,555.32,1358.61,1137.23,5.48,...,183.06,2387.72,8048.56,9.3461,0.02,334,2223,100.00,14.73,8.8071
1,1,2,41.9982,0.8408,100.0,445.00,549.90,1353.22,1125.78,3.91,...,130.42,2387.66,8072.30,9.3774,0.02,330,2212,100.00,10.41,6.2665
2,1,3,24.9988,0.6218,60.0,462.54,537.31,1256.76,1047.45,7.05,...,164.22,2028.03,7864.87,10.8941,0.02,309,1915,84.93,14.08,8.6723
3,1,4,42.0077,0.8416,100.0,445.00,549.51,1354.03,1126.38,3.91,...,130.72,2387.61,8068.66,9.3528,0.02,329,2212,100.00,10.59,6.4701
4,1,5,25.0005,0.6203,60.0,462.54,537.07,1257.71,1047.93,7.05,...,164.31,2028.00,7861.23,10.8963,0.02,309,1915,84.93,14.13,8.5286

In [5]:
td = pd.read_table('../test_data.txt',sep=' ',header=None)
td.drop([26,27],axis=1,inplace=True)
td.columns = ['id', 'cycle', 'setting1', 'setting2', 'setting3', 's1', 's2', 's3',
                     's4', 's5', 's6', 's7', 's8', 's9', 's10', 's11', 's12', 's13', 's14',
                     's15', 's16', 's17', 's18', 's19', 's20', 's21']
td.head()

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
0,1,1,9.9987,0.2502,100.0,489.05,605.03,1497.17,1304.99,10.52,...,371.69,2388.18,8114.10,8.6476,0.03,369,2319,100.00,28.42,17.1551
1,1,2,20.0026,0.7000,100.0,491.19,607.82,1481.20,1246.11,9.35,...,315.32,2388.12,8053.06,9.2405,0.02,364,2324,100.00,24.29,14.8039
2,1,3,35.0045,0.8400,100.0,449.44,556.00,1359.08,1128.36,5.48,...,183.04,2387.75,8053.04,9.3472,0.02,333,2223,100.00,14.98,8.9125
3,1,4,42.0066,0.8410,100.0,445.00,550.17,1349.69,1127.89,3.91,...,130.40,2387.72,8066.90,9.3961,0.02,332,2212,100.00,10.35,6.4181
4,1,5,24.9985,0.6213,60.0,462.54,536.72,1253.18,1050.69,7.05,...,164.56,2028.05,7865.66,10.8682,0.02,305,1915,84.93,14.31,8.5740

In [6]:
td.groupby('id').max()['cycle'].min()

21

### Kmeans

In [7]:
from sklearn import cluster

In [8]:
k_cluster = cluster.KMeans(n_clusters=6)

In [9]:
def max_min_normalize(df):
    return (df-df.min())/(df.max()-df.min())

In [10]:
feature = jet[['setting1','setting2','setting3']]
test_feature = td[['setting1','setting2','setting3']]

In [11]:
train_data = np.array(max_min_normalize(feature))
test_data = np.array(max_min_normalize(test_feature))

In [12]:
k_cluster.fit(train_data)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=6, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [13]:
train_mode = pd.DataFrame(k_cluster.labels_)
test_mode = pd.DataFrame(k_cluster.predict(test_data))

In [14]:
train_mode

       0
0      1
1      5
2      0
3      5
4      0
...   ..
53754  3
53755  4
53756  0
53757  0
53758  1

[53759 rows x 1 columns]

In [15]:
train_df['mode1']=0
train_df['mode2']=0
train_df['mode3']=0
train_df['mode4']=0
train_df['mode5']=0
train_df['mode6']=0
train_df.loc[train_mode[0]==0,['mode1','mode2','mode3','mode4','mode5','mode6']]=[1,0,0,0,0,0]
train_df.loc[train_mode[0]==1,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,1,0,0,0,0]
train_df.loc[train_mode[0]==2,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,0,1,0,0,0]
train_df.loc[train_mode[0]==3,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,0,0,1,0,0]
train_df.loc[train_mode[0]==4,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,0,0,0,1,0]
train_df.loc[train_mode[0]==5,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,0,0,0,0,1]

In [16]:
train_df

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s18,s19,s20,s21,mode1,mode2,mode3,mode4,mode5,mode6
0,1,1,34.9983,0.8400,100.0,449.44,555.32,1358.61,1137.23,5.48,...,2223,100.00,14.73,8.8071,0,1,0,0,0,0
1,1,2,41.9982,0.8408,100.0,445.00,549.90,1353.22,1125.78,3.91,...,2212,100.00,10.41,6.2665,0,0,0,0,0,1
2,1,3,24.9988,0.6218,60.0,462.54,537.31,1256.76,1047.45,7.05,...,1915,84.93,14.08,8.6723,1,0,0,0,0,0
3,1,4,42.0077,0.8416,100.0,445.00,549.51,1354.03,1126.38,3.91,...,2212,100.00,10.59,6.4701,0,0,0,0,0,1
4,1,5,25.0005,0.6203,60.0,462.54,537.07,1257.71,1047.93,7.05,...,1915,84.93,14.13,8.5286,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53754,260,312,20.0037,0.7000,100.0,491.19,608.79,1495.60,1269.51,9.35,...,2324,100.00,24.36,14.5189,0,0,0,1,0,0
53755,260,313,10.0022,0.2510,100.0,489.05,605.81,1514.32,1324.12,10.52,...,2319,100.00,28.10,16.9454,0,0,0,0,1,0
53756,260,314,25.0041,0.6200,60.0,462.54,537.48,1276.24,1057.92,7.05,...,1915,84.93,14.19,8.5503,1,0,0,0,0,0
53757,260,315,25.0033,0.6220,60.0,462.54,537.84,1272.95,1066.30,7.05,...,1915,84.93,14.05,8.3729,1,0,0,0,0,0
53758,260,316,35.0036,0.8400,100.0,449.44,556.64,1374.61,1145.52,5.48,...,2223,100.00,14.75,8.8446,0,1,0,0,0,0

In [17]:
td['mode1']=0
td['mode2']=0
td['mode3']=0
td['mode4']=0
td['mode5']=0
td['mode6']=0
td.loc[test_mode[0]==0,['mode1','mode2','mode3','mode4','mode5','mode6']]=[1,0,0,0,0,0]
td.loc[test_mode[0]==1,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,1,0,0,0,0]
td.loc[test_mode[0]==2,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,0,1,0,0,0]
td.loc[test_mode[0]==3,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,0,0,1,0,0]
td.loc[test_mode[0]==4,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,0,0,0,1,0]
td.loc[test_mode[0]==5,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,0,0,0,0,1]

In [18]:
td

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s18,s19,s20,s21,mode1,mode2,mode3,mode4,mode5,mode6
0,1,1,9.9987,0.2502,100.0,489.05,605.03,1497.17,1304.99,10.52,...,2319,100.00,28.42,17.1551,0,0,0,0,1,0
1,1,2,20.0026,0.7000,100.0,491.19,607.82,1481.20,1246.11,9.35,...,2324,100.00,24.29,14.8039,0,0,0,1,0,0
2,1,3,35.0045,0.8400,100.0,449.44,556.00,1359.08,1128.36,5.48,...,2223,100.00,14.98,8.9125,0,1,0,0,0,0
3,1,4,42.0066,0.8410,100.0,445.00,550.17,1349.69,1127.89,3.91,...,2212,100.00,10.35,6.4181,0,0,0,0,0,1
4,1,5,24.9985,0.6213,60.0,462.54,536.72,1253.18,1050.69,7.05,...,1915,84.93,14.31,8.5740,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33986,259,119,35.0015,0.8403,100.0,449.44,555.56,1366.01,1129.47,5.48,...,2223,100.00,14.94,8.9065,0,1,0,0,0,0
33987,259,120,42.0066,0.8405,100.0,445.00,549.42,1351.13,1123.86,3.91,...,2212,100.00,10.57,6.4075,0,0,0,0,0,1
33988,259,121,42.0061,0.8400,100.0,445.00,549.65,1349.14,1118.91,3.91,...,2212,100.00,10.57,6.4805,0,0,0,0,0,1
33989,259,122,0.0024,0.0003,100.0,518.67,642.58,1589.61,1408.16,14.62,...,2388,100.00,39.08,23.3589,0,0,1,0,0,0
33990,259,123,42.0033,0.8400,100.0,445.00,549.77,1342.50,1126.96,3.91,...,2212,100.00,10.63,6.3480,0,0,0,0,0,1

### 数据处理

In [19]:
# Data Labeling - generate column RUL
rul = pd.DataFrame(train_df.groupby('id')['cycle'].max()).reset_index()
rul.columns = ['id', 'max']
train_df = train_df.merge(rul, on=['id'], how='left')
train_df['RUL'] = train_df['max'] - train_df['cycle']
train_df.drop('max', axis=1, inplace=True)
train_df.loc[train_df['RUL']>130,['RUL']]=130
train_df.head()

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s19,s20,s21,mode1,mode2,mode3,mode4,mode5,mode6,RUL
0,1,1,34.9983,0.8400,100.0,449.44,555.32,1358.61,1137.23,5.48,...,100.00,14.73,8.8071,0,1,0,0,0,0,130
1,1,2,41.9982,0.8408,100.0,445.00,549.90,1353.22,1125.78,3.91,...,100.00,10.41,6.2665,0,0,0,0,0,1,130
2,1,3,24.9988,0.6218,60.0,462.54,537.31,1256.76,1047.45,7.05,...,84.93,14.08,8.6723,1,0,0,0,0,0,130
3,1,4,42.0077,0.8416,100.0,445.00,549.51,1354.03,1126.38,3.91,...,100.00,10.59,6.4701,0,0,0,0,0,1,130
4,1,5,25.0005,0.6203,60.0,462.54,537.07,1257.71,1047.93,7.05,...,84.93,14.13,8.5286,1,0,0,0,0,0,130

In [20]:
#  train_df.to_csv('./data/processed_train_data.csv')

In [21]:
# normalize the columns in the training data.
# MinMax normalization
train_df['cycle_norm'] = train_df['cycle']
cols_normalize = train_df.columns.difference(['id','cycle','RUL'])
min_max_scaler = preprocessing.MinMaxScaler()
norm_train_df = pd.DataFrame(min_max_scaler.fit_transform(train_df[cols_normalize]), 
                             columns=cols_normalize, 
                             index=train_df.index)
join_df = train_df[train_df.columns.difference(cols_normalize)].join(norm_train_df)
train_df = join_df.reindex(columns = train_df.columns)
train_df

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s20,s21,mode1,mode2,mode3,mode4,mode5,mode6,RUL,cycle_norm
0,1,1,0.833134,0.997625,1.0,0.060269,0.181576,0.311201,0.273095,0.146592,...,0.156036,0.159082,0.0,1.0,0.0,0.0,0.0,0.0,130,0.000000
1,1,2,0.999767,0.998575,1.0,0.000000,0.131847,0.296600,0.245535,0.000000,...,0.007888,0.014562,0.0,0.0,0.0,0.0,0.0,1.0,130,0.002653
2,1,3,0.595096,0.738480,0.0,0.238089,0.016332,0.035297,0.056997,0.293184,...,0.133745,0.151414,1.0,0.0,0.0,0.0,0.0,0.0,130,0.005305
3,1,4,0.999993,0.999525,1.0,0.000000,0.128269,0.298795,0.246979,0.000000,...,0.014060,0.026144,0.0,0.0,0.0,0.0,0.0,1.0,130,0.007958
4,1,5,0.595137,0.736698,0.0,0.238089,0.014130,0.037871,0.058152,0.293184,...,0.135460,0.143240,1.0,0.0,0.0,0.0,0.0,0.0,130,0.010610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53754,260,312,0.476188,0.831354,1.0,0.626985,0.672172,0.682297,0.591489,0.507937,...,0.486283,0.483993,0.0,0.0,0.0,1.0,0.0,0.0,4,0.824934
53755,260,313,0.238102,0.298100,1.0,0.597937,0.644830,0.733008,0.722934,0.617180,...,0.614540,0.622022,0.0,0.0,0.0,0.0,1.0,0.0,3,0.827586
53756,260,314,0.595222,0.736342,0.0,0.238089,0.017892,0.088067,0.082198,0.293184,...,0.137517,0.144474,1.0,0.0,0.0,0.0,0.0,0.0,2,0.830239
53757,260,315,0.595203,0.738717,0.0,0.238089,0.021195,0.079155,0.102368,0.293184,...,0.132716,0.134383,1.0,0.0,0.0,0.0,0.0,0.0,1,0.832891
53758,260,316,0.833260,0.997625,1.0,0.060269,0.193687,0.354544,0.293049,0.146592,...,0.156722,0.161215,0.0,1.0,0.0,0.0,0.0,0.0,0,0.835544

In [22]:
# normalize the columns in the test data.
# MinMax normalization
td['cycle_norm'] = td['cycle']
cols_normalize = td.columns.difference(['id','cycle'])
min_max_scaler = preprocessing.MinMaxScaler()
norm_train_df = pd.DataFrame(min_max_scaler.fit_transform(td[cols_normalize]), 
                             columns=cols_normalize, 
                             index=td.index)
join_df = td[td.columns.difference(cols_normalize)].join(norm_train_df)
td = join_df.reindex(columns = td.columns)
td

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s19,s20,s21,mode1,mode2,mode3,mode4,mode5,mode6,cycle_norm
0,1,1,0.238019,0.297150,1.0,0.597937,0.639243,0.691329,0.680395,0.617180,...,1.0,0.625944,0.630724,0.0,0.0,0.0,0.0,1.0,0.0,0.000000
1,1,2,0.476162,0.831354,1.0,0.626985,0.664861,0.647519,0.534663,0.507937,...,1.0,0.484214,0.496301,0.0,0.0,0.0,1.0,0.0,0.0,0.002732
2,1,3,0.833282,0.997625,1.0,0.060269,0.189055,0.312512,0.243225,0.146592,...,1.0,0.164722,0.159476,0.0,1.0,0.0,0.0,0.0,0.0,0.005464
3,1,4,0.999967,0.998812,1.0,0.000000,0.135525,0.286753,0.242061,0.000000,...,1.0,0.005834,0.016866,0.0,0.0,0.0,0.0,0.0,1.0,0.008197
4,1,5,0.595089,0.737886,0.0,0.238089,0.012028,0.022001,0.050986,0.293184,...,0.0,0.141730,0.140123,1.0,0.0,0.0,0.0,0.0,0.0,0.010929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33986,259,119,0.833210,0.997981,1.0,0.060269,0.185015,0.331523,0.245972,0.146592,...,1.0,0.163349,0.159133,0.0,1.0,0.0,0.0,0.0,0.0,0.322404
33987,259,120,0.999967,0.998219,1.0,0.000000,0.128638,0.290703,0.232087,0.000000,...,1.0,0.013384,0.016260,0.0,0.0,0.0,0.0,0.0,1.0,0.325137
33988,259,121,0.999955,0.997625,1.0,0.000000,0.130750,0.285244,0.219835,0.000000,...,1.0,0.013384,0.020433,0.0,0.0,0.0,0.0,0.0,1.0,0.327869
33989,259,122,0.000057,0.000356,1.0,1.000000,0.984024,0.944915,0.935747,1.000000,...,1.0,0.991764,0.985410,0.0,0.0,1.0,0.0,0.0,0.0,0.330601
33990,259,123,0.999888,0.997625,1.0,0.000000,0.131852,0.267029,0.239759,0.000000,...,1.0,0.015443,0.012858,0.0,0.0,0.0,0.0,0.0,1.0,0.333333

Keras LSTM layers expect an input in the shape of a numpy array of 3 dimensions (samples, time steps, features) where samples is the number of training sequences, time steps is the look back window or sequence length and features is the number of features of each sequence at each time step.

In [23]:
# function to reshape features into (samples, time steps, features) 
def gen_sequence(id_df, seq_length, seq_cols):
    """ Only sequences that meet the window-length are considered, no padding is used. This means for testing
    we need to drop those which are below the window-length. An alternative would be to pad sequences so that
    we can use shorter ones """
    data_array = id_df[seq_cols].values
    num_elements = data_array.shape[0]
    for start, stop in zip(range(0, num_elements-seq_length), range(seq_length, num_elements)):
        yield data_array[start:stop, :]
    # For example id1 have 192 rows and sequence_length is equal to 50
    # so zip iterate over two following list of numbers (0,112),(50,192)
    # 0 50 -> from row 0 to row 50
    # 1 51 -> from row 1 to row 51
    # 2 52 -> from row 2 to row 52
    # ...
    # 111 191 -> from row 111 to 191

In [24]:
# pick the feature columns 
sensor_cols = ['s' + str(i) for i in range(1,22)]
sequence_cols = ['setting1', 'setting2', 'setting3','cycle_norm','mode1','mode2','mode3','mode4','mode5','mode6']
# sequence_cols = ['setting1', 'setting2', 'setting3','cycle_norm']
sequence_cols.extend(sensor_cols)

In [25]:
sequence_length = 20

In [26]:
# generator for the sequences
seq_gen = (list(gen_sequence(train_df[train_df['id']==id], sequence_length, sequence_cols)) 
           for id in train_df['id'].unique())

# generate sequences and convert to numpy array
seq_array = np.concatenate(list(seq_gen)).astype(np.float32)
seq_array.shape

(48559, 20, 31)

In [27]:
# function to generate labels
def gen_labels(id_df, seq_length, label):
    data_array = id_df[label].values
    num_elements = data_array.shape[0]
    return data_array[seq_length:num_elements, :]

In [28]:
# generate labels
label_gen = [gen_labels(train_df[train_df['id']==id], sequence_length, ['RUL']) 
             for id in train_df['id'].unique()]
label_array = np.concatenate(label_gen).astype(np.float32)
label_array.shape
label_array

array([[128.],
       [127.],
       [126.],
       ...,
       [  2.],
       [  1.],
       [  0.]], dtype=float32)

### LSTM Network
Next, we build a deep network. The first layer is an LSTM layer with 100 units followed by another LSTM layer with 50 units. Dropout is also applied after each LSTM layer to control overfitting. Final layer is a Dense output layer with single unit and sigmoid activation since this is a binary classification problem.

### USE the model in github

In [29]:
import keras.backend as K

In [30]:
def r2_keras(y_true, y_pred):
    """Coefficient of Determination 
    """
    SS_res =  K.sum(K.square( y_true - y_pred ))
    SS_tot = K.sum(K.square( y_true - K.mean(y_true) ) )
    return ( 1 - SS_res/(SS_tot + K.epsilon()) )

In [31]:
def root_mean_squared_error(y_true, y_pred):
        return K.sqrt(K.mean(K.square(y_pred - y_true), axis=-1))

In [32]:
nb_features = seq_array.shape[2]
nb_out = label_array.shape[1]

model = Sequential()
model.add(LSTM(
         input_shape=(sequence_length, nb_features),
         units=100,
         return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(
          units=50,
          return_sequences=False))
model.add(Dropout(0.2))
model.add(Dense(units=nb_out))
model.add(Activation("linear"))
# model.compile(loss='mean_squared_error', optimizer='rmsprop',metrics=['mae',r2_keras])
model.compile(loss=root_mean_squared_error, optimizer='rmsprop',metrics=['mae',r2_keras])

print(model.summary())

WARNING:tensorflow:From /Users/zhehaoyu/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /Users/zhehaoyu/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /Users/zhehaoyu/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /Users/zhehaoyu/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:133: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From /Users/zhehaoyu/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
WARNING:tensorflow:From /Users/zhehaoyu/anaconda3/lib/python3.7/site-packages/keras/optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_1 (LSTM)                (None, 20, 100)           52800
_________________________________________________________________
dropout_1 (Dropout)          (None, 20, 100)           0
_________________________________________________________________
lstm_2 (LSTM)                (None, 50)                30200
_________________________________________________________________
dropout_2 (Dropout)          (None, 50)                0
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 51
_________________________________________________________________
activation_1 (Activation)    (None, 1)                 0
=================================================================
Total params: 83,051
Trainable params: 83,051
Non-trainable params: 0
_________________________________________________________________
None

In [33]:
# fit the network
model_path='reg_oh_rul3.h5'
history = model.fit(seq_array, label_array, epochs=100, batch_size=200, validation_split=0.05, verbose=2,
          callbacks = [keras.callbacks.EarlyStopping(monitor='val_loss', min_delta=0, patience=10, verbose=0, mode='min'),
                       keras.callbacks.ModelCheckpoint(model_path,monitor='val_loss', save_best_only=True, mode='min', verbose=0)]
          )

# list all data in history
print(history.history.keys())

WARNING:tensorflow:From /Users/zhehaoyu/anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/math_grad.py:1250: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /Users/zhehaoyu/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

Train on 46131 samples, validate on 2428 samples
Epoch 1/100
 - 42s - loss: 72.4170 - mean_absolute_error: 72.4170 - r2_keras: -2.7393e+00 - val_loss: 71.0868 - val_mean_absolute_error: 71.0868 - val_r2_keras: -3.0920e+00
Epoch 2/100
 - 38s - loss: 63.3443 - mean_absolute_error: 63.3444 - r2_keras: -1.9432e+00 - val_loss: 62.6253 - val_mean_absolute_error: 62.6253 - val_r2_keras: -2.2550e+00
Epoch 3/100
 - 36s - loss: 55.8412 - mean_absolute_error: 55.8412 - r2_keras: -1.2917e+00 - val_loss: 55.4462 - val_mean_absolute_error: 55.4462 - val_r2_keras: -1.6184e+00
Epoch 4/100
 - 37s - loss: 49.6934 - mean_absolute_error: 49.6934 - r2_keras: -7.8022e-01 - val_loss: 49.5235 - val_mean_absolute_error: 49.5235 - val_r2_keras: -1.1785e+00
Epoch 5/100
 - 37s - loss: 44.9307 - mean_absolute_error: 44.9307 - r2_keras: -4.0134e-01 - val_loss: 44.8820 - val_mean_absolute_error: 44.8820 - val_r2_keras: -9.3375e-01
Epoch 6/100
 - 37s - loss: 41.5448 - mean_absolute_error: 41.5448 - r2_keras: -1.6133e-01 - val_loss: 41.4860 - val_mean_absolute_error: 41.4860 - val_r2_keras: -8.7479e-01
Epoch 7/100
 - 36s - loss: 39.4910 - mean_absolute_error: 39.4910 - r2_keras: -4.4079e-02 - val_loss: 39.3910 - val_mean_absolute_error: 39.3910 - val_r2_keras: -9.7322e-01
Epoch 8/100
 - 36s - loss: 38.6549 - mean_absolute_error: 38.6549 - r2_keras: -3.0846e-02 - val_loss: 38.5070 - val_mean_absolute_error: 38.5070 - val_r2_keras: -1.1156e+00
Epoch 9/100
 - 37s - loss: 33.8282 - mean_absolute_error: 33.8282 - r2_keras: 0.1585 - val_loss: 33.0079 - val_mean_absolute_error: 33.0079 - val_r2_keras: 0.0343
Epoch 10/100
 - 37s - loss: 26.6582 - mean_absolute_error: 26.6582 - r2_keras: 0.4421 - val_loss: 30.6811 - val_mean_absolute_error: 30.6811 - val_r2_keras: 0.0308
Epoch 11/100
 - 37s - loss: 23.2793 - mean_absolute_error: 23.2793 - r2_keras: 0.5380 - val_loss: 29.1643 - val_mean_absolute_error: 29.1643 - val_r2_keras: 0.0043
Epoch 12/100
 - 36s - loss: 21.3100 - mean_absolute_error: 21.3100 - r2_keras: 0.5828 - val_loss: 25.0382 - val_mean_absolute_error: 25.0382 - val_r2_keras: 0.3298
Epoch 13/100
 - 37s - loss: 20.3247 - mean_absolute_error: 20.3247 - r2_keras: 0.6074 - val_loss: 24.1735 - val_mean_absolute_error: 24.1735 - val_r2_keras: 0.3254
Epoch 14/100
 - 38s - loss: 19.9463 - mean_absolute_error: 19.9463 - r2_keras: 0.6245 - val_loss: 23.7171 - val_mean_absolute_error: 23.7171 - val_r2_keras: 0.3676
Epoch 15/100
 - 39s - loss: 19.6592 - mean_absolute_error: 19.6592 - r2_keras: 0.6326 - val_loss: 24.5700 - val_mean_absolute_error: 24.5700 - val_r2_keras: 0.2049
Epoch 16/100
 - 39s - loss: 19.3362 - mean_absolute_error: 19.3362 - r2_keras: 0.6442 - val_loss: 23.6435 - val_mean_absolute_error: 23.6435 - val_r2_keras: 0.3688
Epoch 17/100
 - 39s - loss: 19.1815 - mean_absolute_error: 19.1815 - r2_keras: 0.6509 - val_loss: 22.2905 - val_mean_absolute_error: 22.2905 - val_r2_keras: 0.4218
Epoch 18/100
 - 39s - loss: 18.8630 - mean_absolute_error: 18.8630 - r2_keras: 0.6587 - val_loss: 28.6830 - val_mean_absolute_error: 28.6830 - val_r2_keras: -5.9106e-02
Epoch 19/100
 - 39s - loss: 18.8144 - mean_absolute_error: 18.8144 - r2_keras: 0.6644 - val_loss: 22.1584 - val_mean_absolute_error: 22.1584 - val_r2_keras: 0.3941
Epoch 20/100
 - 38s - loss: 18.6231 - mean_absolute_error: 18.6231 - r2_keras: 0.6671 - val_loss: 23.6564 - val_mean_absolute_error: 23.6564 - val_r2_keras: 0.3753
Epoch 21/100
 - 38s - loss: 18.4972 - mean_absolute_error: 18.4972 - r2_keras: 0.6715 - val_loss: 23.6480 - val_mean_absolute_error: 23.6480 - val_r2_keras: 0.2650
Epoch 22/100
 - 38s - loss: 18.1994 - mean_absolute_error: 18.1994 - r2_keras: 0.6812 - val_loss: 24.3793 - val_mean_absolute_error: 24.3793 - val_r2_keras: 0.2107
Epoch 23/100
 - 38s - loss: 17.9051 - mean_absolute_error: 17.9051 - r2_keras: 0.6893 - val_loss: 23.0752 - val_mean_absolute_error: 23.0752 - val_r2_keras: 0.3121
Epoch 24/100
 - 39s - loss: 17.7494 - mean_absolute_error: 17.7494 - r2_keras: 0.6942 - val_loss: 22.9000 - val_mean_absolute_error: 22.9000 - val_r2_keras: 0.3008
Epoch 25/100
 - 37s - loss: 17.3642 - mean_absolute_error: 17.3642 - r2_keras: 0.7053 - val_loss: 25.0478 - val_mean_absolute_error: 25.0478 - val_r2_keras: 0.1771
Epoch 26/100
 - 38s - loss: 17.1083 - mean_absolute_error: 17.1083 - r2_keras: 0.7142 - val_loss: 22.2355 - val_mean_absolute_error: 22.2355 - val_r2_keras: 0.4672
Epoch 27/100
 - 38s - loss: 16.8153 - mean_absolute_error: 16.8153 - r2_keras: 0.7206 - val_loss: 21.3910 - val_mean_absolute_error: 21.3910 - val_r2_keras: 0.4396
Epoch 28/100
 - 37s - loss: 16.3728 - mean_absolute_error: 16.3728 - r2_keras: 0.7351 - val_loss: 25.4713 - val_mean_absolute_error: 25.4713 - val_r2_keras: 0.2139
Epoch 29/100
 - 37s - loss: 16.0327 - mean_absolute_error: 16.0327 - r2_keras: 0.7454 - val_loss: 22.7629 - val_mean_absolute_error: 22.7629 - val_r2_keras: 0.3768
Epoch 30/100
 - 38s - loss: 15.6273 - mean_absolute_error: 15.6273 - r2_keras: 0.7552 - val_loss: 21.9121 - val_mean_absolute_error: 21.9121 - val_r2_keras: 0.4042
Epoch 31/100
 - 39s - loss: 15.2352 - mean_absolute_error: 15.2352 - r2_keras: 0.7680 - val_loss: 22.7855 - val_mean_absolute_error: 22.7855 - val_r2_keras: 0.3678
Epoch 32/100
 - 37s - loss: 14.7807 - mean_absolute_error: 14.7807 - r2_keras: 0.7808 - val_loss: 22.4323 - val_mean_absolute_error: 22.4323 - val_r2_keras: 0.3860
Epoch 33/100
 - 39s - loss: 14.4274 - mean_absolute_error: 14.4274 - r2_keras: 0.7906 - val_loss: 22.3022 - val_mean_absolute_error: 22.3022 - val_r2_keras: 0.3740
Epoch 34/100
 - 38s - loss: 13.9935 - mean_absolute_error: 13.9935 - r2_keras: 0.8030 - val_loss: 22.3837 - val_mean_absolute_error: 22.3837 - val_r2_keras: 0.3649
Epoch 35/100
 - 42s - loss: 13.6553 - mean_absolute_error: 13.6553 - r2_keras: 0.8138 - val_loss: 23.4214 - val_mean_absolute_error: 23.4214 - val_r2_keras: 0.2642
Epoch 36/100
 - 41s - loss: 13.3085 - mean_absolute_error: 13.3085 - r2_keras: 0.8214 - val_loss: 22.9370 - val_mean_absolute_error: 22.9370 - val_r2_keras: 0.3169
Epoch 37/100
 - 44s - loss: 12.9020 - mean_absolute_error: 12.9020 - r2_keras: 0.8332 - val_loss: 23.4868 - val_mean_absolute_error: 23.4868 - val_r2_keras: 0.3184
dict_keys(['val_loss', 'val_mean_absolute_error', 'val_r2_keras', 'loss', 'mean_absolute_error', 'r2_keras'])

In [35]:
# training metrics
scores = model.evaluate(seq_array, label_array, verbose=1, batch_size=200)
print('Loss: {}'.format(scores[0]))

48559/48559 [==============================] - 12s 252us/step
Loss: 16.06105404288616

### Calculate result

In [36]:
# We pick the last sequence for each id in the test data
test = [td[td['id']==id][sequence_cols].values[-sequence_length:] 
                       for id in td['id'].unique() if len(td[td['id']==id]) >= sequence_length]

test = np.asarray(test).astype(np.float32)

In [37]:
result = model.predict(test,verbose=1)
result

259/259 [==============================] - 0s 616us/step

array([[  6.64143  ],
       [127.94308  ],
       [ 76.648    ],
       [124.83951  ],
       [ 14.205396 ],
       [127.89232  ],
       [ 23.464773 ],
       [ 40.887913 ],
       [  6.8055897],
       [127.94308  ],
       [ 28.134989 ],
       [124.73705  ],
       [ 32.630005 ],
       [  5.960739 ],
       [ 48.894634 ],
       [107.46609  ],
       [ 80.96267  ],
       [127.94308  ],
       [ 20.069563 ],
       [106.83995  ],
       [ 83.66674  ],
       [ 27.179796 ],
       [127.94308  ],
       [ 75.41128  ],
       [ 85.014336 ],
       [119.68854  ],
       [126.81055  ],
       [127.94308  ],
       [ 90.03568  ],
       [ 83.62292  ],
       [ 85.4739   ],
       [ 13.312542 ],
       [ 62.458965 ],
       [127.94308  ],
       [121.22455  ],
       [ 91.589836 ],
       [127.07192  ],
       [ 32.04485  ],
       [ 24.828556 ],
       [ 66.49323  ],
       [ 36.468243 ],
       [ 37.6481   ],
       [ 64.0834   ],
       [ 14.677469 ],
       [  7.1426125],
       [ 95.53097  ],
       [126.999176 ],
       [ 24.790668 ],
       [126.60767  ],
       [ 13.614237 ],
       [127.94308  ],
       [ 13.342712 ],
       [ 47.228695 ],
       [122.23414  ],
       [ 94.71322  ],
       [125.44373  ],
       [124.41397  ],
       [ 25.816462 ],
       [127.94308  ],
       [ 74.85547  ],
       [124.81403  ],
       [ 42.459972 ],
       [ 78.240166 ],
       [ 12.848169 ],
       [ 31.464949 ],
       [126.11561  ],
       [ 92.65983  ],
       [ 78.42884  ],
       [109.88604  ],
       [ 10.889515 ],
       [127.349464 ],
       [ 83.66178  ],
       [ 85.62084  ],
       [117.33611  ],
       [ 97.07569  ],
       [ 24.998808 ],
       [106.24001  ],
       [ 86.12936  ],
       [ 72.23615  ],
       [  8.957157 ],
       [125.99648  ],
       [117.20718  ],
       [127.94308  ],
       [ 16.255898 ],
       [ 36.173065 ],
       [102.098045 ],
       [ 21.17592  ],
       [ 61.822147 ],
       [127.94308  ],
       [ 34.2317   ],
       [ 22.257874 ],
       [102.07551  ],
       [125.69897  ],
       [ 74.41909  ],
       [ 99.116615 ],
       [ 48.167004 ],
       [ 21.30263  ],
       [107.359245 ],
       [  8.330743 ],
       [ 38.003292 ],
       [127.94308  ],
       [ 28.331377 ],
       [  5.2093954],
       [ 97.770744 ],
       [127.94306  ],
       [112.15203  ],
       [ 60.892223 ],
       [103.097275 ],
       [ 41.70399  ],
       [ 96.8088   ],
       [ 25.352406 ],
       [101.96668  ],
       [127.94297  ],
       [ 65.60885  ],
       [ 87.61524  ],
       [ 10.234617 ],
       [127.94308  ],
       [ 97.63854  ],
       [ 96.189    ],
       [ 25.271997 ],
       [127.44272  ],
       [127.94308  ],
       [124.537025 ],
       [ 12.198766 ],
       [121.832726 ],
       [107.10334  ],
       [ 39.847225 ],
       [ 73.68212  ],
       [ 76.24835  ],
       [125.55993  ],
       [114.68861  ],
       [ 55.95454  ],
       [ 56.46979  ],
       [ 18.39185  ],
       [101.12772  ],
       [120.129555 ],
       [ 73.27754  ],
       [  7.664632 ],
       [105.602135 ],
       [ 91.39991  ],
       [119.76598  ],
       [ 44.4054   ],
       [ 83.36246  ],
       [ 38.59997  ],
       [103.032715 ],
       [ 31.721958 ],
       [127.856224 ],
       [ 29.865938 ],
       [125.06576  ],
       [ 14.965807 ],
       [ 98.424736 ],
       [110.71147  ],
       [ 63.62927  ],
       [127.94308  ],
       [126.386696 ],
       [121.21938  ],
       [ 71.94835  ],
       [ 32.75896  ],
       [ 12.884893 ],
       [ 61.85657  ],
       [ 15.464393 ],
       [ 54.733326 ],
       [ 75.971306 ],
       [  7.6375647],
       [127.94308  ],
       [114.59304  ],
       [121.04986  ],
       [112.58965  ],
       [121.967125 ],
       [ 99.839355 ],
       [ 57.467754 ],
       [ 36.291096 ],
       [ 23.162418 ],
       [126.495575 ],
       [122.764435 ],
       [ 28.687407 ],
       [  7.1198473],
       [127.885185 ],
       [114.8722   ],
       [ 96.6389   ],
       [ 41.65745  ],
       [ 14.998211 ],
       [ 70.25898  ],
       [127.84878  ],
       [ 34.58796  ],
       [ 24.854858 ],
       [ 86.22866  ],
       [116.418846 ],
       [ 62.98338  ],
       [ 18.176544 ],
       [123.94346  ],
       [ 35.968098 ],
       [ 21.48681  ],
       [127.94305  ],
       [ 86.96233  ],
       [ 88.73515  ],
       [125.762886 ],
       [106.89396  ],
       [ 84.18554  ],
       [124.8306   ],
       [127.94308  ],
       [ 87.77447  ],
       [110.96848  ],
       [127.94308  ],
       [127.943    ],
       [ 64.934074 ],
       [ 86.05378  ],
       [ 10.291535 ],
       [ 51.872425 ],
       [  8.163699 ],
       [ 36.11966  ],
       [ 53.421883 ],
       [ 11.992088 ],
       [106.41306  ],
       [117.95286  ],
       [113.65603  ],
       [127.94288  ],
       [127.94308  ],
       [ 75.27853  ],
       [122.73197  ],
       [126.815254 ],
       [ 71.05456  ],
       [127.94306  ],
       [127.94308  ],
       [ 17.617495 ],
       [ 95.43545  ],
       [ 12.58885  ],
       [126.667465 ],
       [ 78.74032  ],
       [ 98.51583  ],
       [  7.1941824],
       [ 51.756126 ],
       [127.94306  ],
       [104.40295  ],
       [114.63868  ],
       [ 14.529288 ],
       [ 48.438824 ],
       [119.819115 ],
       [ 98.40432  ],
       [114.19854  ],
       [125.07671  ],
       [  9.125751 ],
       [127.94308  ],
       [127.94308  ],
       [  8.716357 ],
       [100.49311  ],
       [127.92181  ],
       [ 85.96908  ],
       [127.94308  ],
       [ 11.844309 ],
       [126.87417  ],
       [ 28.441584 ],
       [ 94.48556  ],
       [ 77.90589  ],
       [ 89.62927  ],
       [127.61135  ],
       [ 87.177864 ],
       [101.45597  ],
       [ 99.05191  ]], dtype=float32)

In [133]:
result.shape

(259, 1)

---

### 生成 .csv 文件

In [38]:
import time

In [39]:
localtime = time.asctime( time.localtime(time.time()) )

In [40]:
submit = pd.read_excel('../results_submission.xls')
submit['RUL prediction']=result
submit.to_csv('result3.csv')

## 计分！

In [41]:
ans = np.loadtxt('../RUL_FD002.txt')
ans.shape

(259,)

In [42]:
def score(user_ans):
    user_ans_arr = np.array(user_ans)
    score = 0
    diff = user_ans_arr - ans
    diff_pos = diff[diff>=0]
    diff_neg = diff[diff<0]
    score = np.sum((np.exp(-1./13.*diff_neg)-1))+np.sum((np.exp(1./10.*diff_pos)-1))
    return score

In [45]:
re = pd.read_csv('./result.csv')
pred_rul=re['RUL prediction']
result[0]

array([6.64143], dtype=float32)

In [46]:
score(pred_rul)

13896.116346888302