Reference:
https://github.com/umbertogriffo/Predictive-Maintenance-using-LSTM/blob/master/src/lstm/regression.py

In [2]:
import keras

Using TensorFlow backend.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Setting seed for reproducability
np.random.seed(1234)  
PYTHONHASHSEED = 0
from sklearn import preprocessing
from sklearn.metrics import confusion_matrix, recall_score, precision_score
from keras.models import Sequential, load_model
from keras.layers import Dense, Dropout, LSTM, Activation, Conv1D, MaxPooling1D
%matplotlib inline

In [4]:
jet = pd.read_table('../train_data.txt',sep=' ',header=None)
jet.drop([26,27],axis=1,inplace=True)
jet.columns = ['id', 'cycle', 'setting1', 'setting2', 'setting3', 's1', 's2', 's3',
                     's4', 's5', 's6', 's7', 's8', 's9', 's10', 's11', 's12', 's13', 's14',
                     's15', 's16', 's17', 's18', 's19', 's20', 's21']
train_df = jet
train_df.head()

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
0,1,1,34.9983,0.8400,100.0,449.44,555.32,1358.61,1137.23,5.48,...,183.06,2387.72,8048.56,9.3461,0.02,334,2223,100.00,14.73,8.8071
1,1,2,41.9982,0.8408,100.0,445.00,549.90,1353.22,1125.78,3.91,...,130.42,2387.66,8072.30,9.3774,0.02,330,2212,100.00,10.41,6.2665
2,1,3,24.9988,0.6218,60.0,462.54,537.31,1256.76,1047.45,7.05,...,164.22,2028.03,7864.87,10.8941,0.02,309,1915,84.93,14.08,8.6723
3,1,4,42.0077,0.8416,100.0,445.00,549.51,1354.03,1126.38,3.91,...,130.72,2387.61,8068.66,9.3528,0.02,329,2212,100.00,10.59,6.4701
4,1,5,25.0005,0.6203,60.0,462.54,537.07,1257.71,1047.93,7.05,...,164.31,2028.00,7861.23,10.8963,0.02,309,1915,84.93,14.13,8.5286

In [5]:
td = pd.read_table('../test_data.txt',sep=' ',header=None)
td.drop([26,27],axis=1,inplace=True)
td.columns = ['id', 'cycle', 'setting1', 'setting2', 'setting3', 's1', 's2', 's3',
                     's4', 's5', 's6', 's7', 's8', 's9', 's10', 's11', 's12', 's13', 's14',
                     's15', 's16', 's17', 's18', 's19', 's20', 's21']
td.head()

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
0,1,1,9.9987,0.2502,100.0,489.05,605.03,1497.17,1304.99,10.52,...,371.69,2388.18,8114.10,8.6476,0.03,369,2319,100.00,28.42,17.1551
1,1,2,20.0026,0.7000,100.0,491.19,607.82,1481.20,1246.11,9.35,...,315.32,2388.12,8053.06,9.2405,0.02,364,2324,100.00,24.29,14.8039
2,1,3,35.0045,0.8400,100.0,449.44,556.00,1359.08,1128.36,5.48,...,183.04,2387.75,8053.04,9.3472,0.02,333,2223,100.00,14.98,8.9125
3,1,4,42.0066,0.8410,100.0,445.00,550.17,1349.69,1127.89,3.91,...,130.40,2387.72,8066.90,9.3961,0.02,332,2212,100.00,10.35,6.4181
4,1,5,24.9985,0.6213,60.0,462.54,536.72,1253.18,1050.69,7.05,...,164.56,2028.05,7865.66,10.8682,0.02,305,1915,84.93,14.31,8.5740

In [6]:
td.groupby('id').max()['cycle'].min()

21

### Kmeans

In [7]:
from sklearn import cluster

In [8]:
k_cluster = cluster.KMeans(n_clusters=6)

In [9]:
def max_min_normalize(df):
    return (df-df.min())/(df.max()-df.min())

In [10]:
feature = jet[['setting1','setting2','setting3']]
test_feature = td[['setting1','setting2','setting3']]

In [11]:
train_data = np.array(max_min_normalize(feature))
test_data = np.array(max_min_normalize(test_feature))

In [12]:
k_cluster.fit(train_data)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=6, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [13]:
train_mode = pd.DataFrame(k_cluster.labels_)
test_mode = pd.DataFrame(k_cluster.predict(test_data))

In [14]:
train_mode

       0
0      1
1      5
2      0
3      5
4      0
...   ..
53754  3
53755  4
53756  0
53757  0
53758  1

[53759 rows x 1 columns]

In [15]:
train_df['mode1']=0
train_df['mode2']=0
train_df['mode3']=0
train_df['mode4']=0
train_df['mode5']=0
train_df['mode6']=0
train_df.loc[train_mode[0]==0,['mode1','mode2','mode3','mode4','mode5','mode6']]=[1,0,0,0,0,0]
train_df.loc[train_mode[0]==1,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,1,0,0,0,0]
train_df.loc[train_mode[0]==2,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,0,1,0,0,0]
train_df.loc[train_mode[0]==3,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,0,0,1,0,0]
train_df.loc[train_mode[0]==4,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,0,0,0,1,0]
train_df.loc[train_mode[0]==5,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,0,0,0,0,1]

In [16]:
train_df

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s18,s19,s20,s21,mode1,mode2,mode3,mode4,mode5,mode6
0,1,1,34.9983,0.8400,100.0,449.44,555.32,1358.61,1137.23,5.48,...,2223,100.00,14.73,8.8071,0,1,0,0,0,0
1,1,2,41.9982,0.8408,100.0,445.00,549.90,1353.22,1125.78,3.91,...,2212,100.00,10.41,6.2665,0,0,0,0,0,1
2,1,3,24.9988,0.6218,60.0,462.54,537.31,1256.76,1047.45,7.05,...,1915,84.93,14.08,8.6723,1,0,0,0,0,0
3,1,4,42.0077,0.8416,100.0,445.00,549.51,1354.03,1126.38,3.91,...,2212,100.00,10.59,6.4701,0,0,0,0,0,1
4,1,5,25.0005,0.6203,60.0,462.54,537.07,1257.71,1047.93,7.05,...,1915,84.93,14.13,8.5286,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53754,260,312,20.0037,0.7000,100.0,491.19,608.79,1495.60,1269.51,9.35,...,2324,100.00,24.36,14.5189,0,0,0,1,0,0
53755,260,313,10.0022,0.2510,100.0,489.05,605.81,1514.32,1324.12,10.52,...,2319,100.00,28.10,16.9454,0,0,0,0,1,0
53756,260,314,25.0041,0.6200,60.0,462.54,537.48,1276.24,1057.92,7.05,...,1915,84.93,14.19,8.5503,1,0,0,0,0,0
53757,260,315,25.0033,0.6220,60.0,462.54,537.84,1272.95,1066.30,7.05,...,1915,84.93,14.05,8.3729,1,0,0,0,0,0
53758,260,316,35.0036,0.8400,100.0,449.44,556.64,1374.61,1145.52,5.48,...,2223,100.00,14.75,8.8446,0,1,0,0,0,0

In [17]:
td['mode1']=0
td['mode2']=0
td['mode3']=0
td['mode4']=0
td['mode5']=0
td['mode6']=0
td.loc[test_mode[0]==0,['mode1','mode2','mode3','mode4','mode5','mode6']]=[1,0,0,0,0,0]
td.loc[test_mode[0]==1,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,1,0,0,0,0]
td.loc[test_mode[0]==2,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,0,1,0,0,0]
td.loc[test_mode[0]==3,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,0,0,1,0,0]
td.loc[test_mode[0]==4,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,0,0,0,1,0]
td.loc[test_mode[0]==5,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,0,0,0,0,1]

In [18]:
td

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s18,s19,s20,s21,mode1,mode2,mode3,mode4,mode5,mode6
0,1,1,9.9987,0.2502,100.0,489.05,605.03,1497.17,1304.99,10.52,...,2319,100.00,28.42,17.1551,0,0,0,0,1,0
1,1,2,20.0026,0.7000,100.0,491.19,607.82,1481.20,1246.11,9.35,...,2324,100.00,24.29,14.8039,0,0,0,1,0,0
2,1,3,35.0045,0.8400,100.0,449.44,556.00,1359.08,1128.36,5.48,...,2223,100.00,14.98,8.9125,0,1,0,0,0,0
3,1,4,42.0066,0.8410,100.0,445.00,550.17,1349.69,1127.89,3.91,...,2212,100.00,10.35,6.4181,0,0,0,0,0,1
4,1,5,24.9985,0.6213,60.0,462.54,536.72,1253.18,1050.69,7.05,...,1915,84.93,14.31,8.5740,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33986,259,119,35.0015,0.8403,100.0,449.44,555.56,1366.01,1129.47,5.48,...,2223,100.00,14.94,8.9065,0,1,0,0,0,0
33987,259,120,42.0066,0.8405,100.0,445.00,549.42,1351.13,1123.86,3.91,...,2212,100.00,10.57,6.4075,0,0,0,0,0,1
33988,259,121,42.0061,0.8400,100.0,445.00,549.65,1349.14,1118.91,3.91,...,2212,100.00,10.57,6.4805,0,0,0,0,0,1
33989,259,122,0.0024,0.0003,100.0,518.67,642.58,1589.61,1408.16,14.62,...,2388,100.00,39.08,23.3589,0,0,1,0,0,0
33990,259,123,42.0033,0.8400,100.0,445.00,549.77,1342.50,1126.96,3.91,...,2212,100.00,10.63,6.3480,0,0,0,0,0,1

### 数据处理

In [19]:
# Data Labeling - generate column RUL
rul = pd.DataFrame(train_df.groupby('id')['cycle'].max()).reset_index()
rul.columns = ['id', 'max']
train_df = train_df.merge(rul, on=['id'], how='left')
train_df['RUL'] = train_df['max'] - train_df['cycle']
train_df.drop('max', axis=1, inplace=True)
train_df.loc[train_df['RUL']>130,['RUL']]=130
train_df.head()

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s19,s20,s21,mode1,mode2,mode3,mode4,mode5,mode6,RUL
0,1,1,34.9983,0.8400,100.0,449.44,555.32,1358.61,1137.23,5.48,...,100.00,14.73,8.8071,0,1,0,0,0,0,130
1,1,2,41.9982,0.8408,100.0,445.00,549.90,1353.22,1125.78,3.91,...,100.00,10.41,6.2665,0,0,0,0,0,1,130
2,1,3,24.9988,0.6218,60.0,462.54,537.31,1256.76,1047.45,7.05,...,84.93,14.08,8.6723,1,0,0,0,0,0,130
3,1,4,42.0077,0.8416,100.0,445.00,549.51,1354.03,1126.38,3.91,...,100.00,10.59,6.4701,0,0,0,0,0,1,130
4,1,5,25.0005,0.6203,60.0,462.54,537.07,1257.71,1047.93,7.05,...,84.93,14.13,8.5286,1,0,0,0,0,0,130

In [20]:
#  train_df.to_csv('./data/processed_train_data.csv')

In [21]:
# normalize the columns in the training data.
# MinMax normalization
train_df['cycle_norm'] = train_df['cycle']
cols_normalize = train_df.columns.difference(['id','cycle','RUL'])
min_max_scaler = preprocessing.MinMaxScaler()
norm_train_df = pd.DataFrame(min_max_scaler.fit_transform(train_df[cols_normalize]), 
                             columns=cols_normalize, 
                             index=train_df.index)
join_df = train_df[train_df.columns.difference(cols_normalize)].join(norm_train_df)
train_df = join_df.reindex(columns = train_df.columns)
train_df

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s20,s21,mode1,mode2,mode3,mode4,mode5,mode6,RUL,cycle_norm
0,1,1,0.833134,0.997625,1.0,0.060269,0.181576,0.311201,0.273095,0.146592,...,0.156036,0.159082,0.0,1.0,0.0,0.0,0.0,0.0,130,0.000000
1,1,2,0.999767,0.998575,1.0,0.000000,0.131847,0.296600,0.245535,0.000000,...,0.007888,0.014562,0.0,0.0,0.0,0.0,0.0,1.0,130,0.002653
2,1,3,0.595096,0.738480,0.0,0.238089,0.016332,0.035297,0.056997,0.293184,...,0.133745,0.151414,1.0,0.0,0.0,0.0,0.0,0.0,130,0.005305
3,1,4,0.999993,0.999525,1.0,0.000000,0.128269,0.298795,0.246979,0.000000,...,0.014060,0.026144,0.0,0.0,0.0,0.0,0.0,1.0,130,0.007958
4,1,5,0.595137,0.736698,0.0,0.238089,0.014130,0.037871,0.058152,0.293184,...,0.135460,0.143240,1.0,0.0,0.0,0.0,0.0,0.0,130,0.010610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53754,260,312,0.476188,0.831354,1.0,0.626985,0.672172,0.682297,0.591489,0.507937,...,0.486283,0.483993,0.0,0.0,0.0,1.0,0.0,0.0,4,0.824934
53755,260,313,0.238102,0.298100,1.0,0.597937,0.644830,0.733008,0.722934,0.617180,...,0.614540,0.622022,0.0,0.0,0.0,0.0,1.0,0.0,3,0.827586
53756,260,314,0.595222,0.736342,0.0,0.238089,0.017892,0.088067,0.082198,0.293184,...,0.137517,0.144474,1.0,0.0,0.0,0.0,0.0,0.0,2,0.830239
53757,260,315,0.595203,0.738717,0.0,0.238089,0.021195,0.079155,0.102368,0.293184,...,0.132716,0.134383,1.0,0.0,0.0,0.0,0.0,0.0,1,0.832891
53758,260,316,0.833260,0.997625,1.0,0.060269,0.193687,0.354544,0.293049,0.146592,...,0.156722,0.161215,0.0,1.0,0.0,0.0,0.0,0.0,0,0.835544

In [22]:
# normalize the columns in the test data.
# MinMax normalization
td['cycle_norm'] = td['cycle']
cols_normalize = td.columns.difference(['id','cycle'])
min_max_scaler = preprocessing.MinMaxScaler()
norm_train_df = pd.DataFrame(min_max_scaler.fit_transform(td[cols_normalize]), 
                             columns=cols_normalize, 
                             index=td.index)
join_df = td[td.columns.difference(cols_normalize)].join(norm_train_df)
td = join_df.reindex(columns = td.columns)
td

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s19,s20,s21,mode1,mode2,mode3,mode4,mode5,mode6,cycle_norm
0,1,1,0.238019,0.297150,1.0,0.597937,0.639243,0.691329,0.680395,0.617180,...,1.0,0.625944,0.630724,0.0,0.0,0.0,0.0,1.0,0.0,0.000000
1,1,2,0.476162,0.831354,1.0,0.626985,0.664861,0.647519,0.534663,0.507937,...,1.0,0.484214,0.496301,0.0,0.0,0.0,1.0,0.0,0.0,0.002732
2,1,3,0.833282,0.997625,1.0,0.060269,0.189055,0.312512,0.243225,0.146592,...,1.0,0.164722,0.159476,0.0,1.0,0.0,0.0,0.0,0.0,0.005464
3,1,4,0.999967,0.998812,1.0,0.000000,0.135525,0.286753,0.242061,0.000000,...,1.0,0.005834,0.016866,0.0,0.0,0.0,0.0,0.0,1.0,0.008197
4,1,5,0.595089,0.737886,0.0,0.238089,0.012028,0.022001,0.050986,0.293184,...,0.0,0.141730,0.140123,1.0,0.0,0.0,0.0,0.0,0.0,0.010929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33986,259,119,0.833210,0.997981,1.0,0.060269,0.185015,0.331523,0.245972,0.146592,...,1.0,0.163349,0.159133,0.0,1.0,0.0,0.0,0.0,0.0,0.322404
33987,259,120,0.999967,0.998219,1.0,0.000000,0.128638,0.290703,0.232087,0.000000,...,1.0,0.013384,0.016260,0.0,0.0,0.0,0.0,0.0,1.0,0.325137
33988,259,121,0.999955,0.997625,1.0,0.000000,0.130750,0.285244,0.219835,0.000000,...,1.0,0.013384,0.020433,0.0,0.0,0.0,0.0,0.0,1.0,0.327869
33989,259,122,0.000057,0.000356,1.0,1.000000,0.984024,0.944915,0.935747,1.000000,...,1.0,0.991764,0.985410,0.0,0.0,1.0,0.0,0.0,0.0,0.330601
33990,259,123,0.999888,0.997625,1.0,0.000000,0.131852,0.267029,0.239759,0.000000,...,1.0,0.015443,0.012858,0.0,0.0,0.0,0.0,0.0,1.0,0.333333

Keras LSTM layers expect an input in the shape of a numpy array of 3 dimensions (samples, time steps, features) where samples is the number of training sequences, time steps is the look back window or sequence length and features is the number of features of each sequence at each time step.

In [23]:
# function to reshape features into (samples, time steps, features) 
def gen_sequence(id_df, seq_length, seq_cols):
    """ Only sequences that meet the window-length are considered, no padding is used. This means for testing
    we need to drop those which are below the window-length. An alternative would be to pad sequences so that
    we can use shorter ones """
    data_array = id_df[seq_cols].values
    num_elements = data_array.shape[0]
    for start, stop in zip(range(0, num_elements-seq_length), range(seq_length, num_elements)):
        yield data_array[start:stop, :]
    # For example id1 have 192 rows and sequence_length is equal to 50
    # so zip iterate over two following list of numbers (0,112),(50,192)
    # 0 50 -> from row 0 to row 50
    # 1 51 -> from row 1 to row 51
    # 2 52 -> from row 2 to row 52
    # ...
    # 111 191 -> from row 111 to 191

In [24]:
# pick the feature columns 
sensor_cols = ['s' + str(i) for i in range(1,22)]
sequence_cols = ['setting1', 'setting2', 'setting3','cycle_norm','mode1','mode2','mode3','mode4','mode5','mode6']
# sequence_cols = ['setting1', 'setting2', 'setting3','cycle_norm']
sequence_cols.extend(sensor_cols)

In [27]:
sequence_length = 20

In [28]:
# generator for the sequences
seq_gen = (list(gen_sequence(train_df[train_df['id']==id], sequence_length, sequence_cols)) 
           for id in train_df['id'].unique())

# generate sequences and convert to numpy array
seq_array = np.concatenate(list(seq_gen)).astype(np.float32)
seq_array.shape

(48559, 20, 31)

In [29]:
# function to generate labels
def gen_labels(id_df, seq_length, label):
    data_array = id_df[label].values
    num_elements = data_array.shape[0]
    return data_array[seq_length:num_elements, :]

In [30]:
# generate labels
label_gen = [gen_labels(train_df[train_df['id']==id], sequence_length, ['RUL']) 
             for id in train_df['id'].unique()]
label_array = np.concatenate(label_gen).astype(np.float32)
label_array.shape
label_array

array([[128.],
       [127.],
       [126.],
       ...,
       [  2.],
       [  1.],
       [  0.]], dtype=float32)

### LSTM Network
Next, we build a deep network. The first layer is an LSTM layer with 100 units followed by another LSTM layer with 50 units. Dropout is also applied after each LSTM layer to control overfitting. Final layer is a Dense output layer with single unit and sigmoid activation since this is a binary classification problem.

### USE the model in github

In [36]:
import keras.backend as K

In [37]:
def r2_keras(y_true, y_pred):
    """Coefficient of Determination 
    """
    SS_res =  K.sum(K.square( y_true - y_pred ))
    SS_tot = K.sum(K.square( y_true - K.mean(y_true) ) )
    return ( 1 - SS_res/(SS_tot + K.epsilon()) )

In [38]:
def root_mean_squared_error(y_true, y_pred):
        return K.sqrt(K.mean(K.square(y_pred - y_true), axis=-1))

In [44]:
def scoring_error(y_true, y_pred):
    diff = y_pred - y_true
    score = K.switch(
        condition=(diff>=0),
        then_expression=lambda: K.exp(1/10*diff)-1,
        else_expression=lambda: K.exp(-1/13*diff)-1
    )

    return score

In [77]:
nb_features = seq_array.shape[2]
nb_out = label_array.shape[1]

model = Sequential()
model.add(LSTM(
         input_shape=(sequence_length, nb_features),
         units=100,
         return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(
          units=50,
          return_sequences=False))
model.add(Dropout(0.2))
model.add(Dense(units=nb_out))
model.add(Activation("linear"))
model.compile(loss='mean_squared_error', optimizer='rmsprop',metrics=['mae',r2_keras])
# model.compile(loss=scoring_error, optimizer='rmsprop',metrics=['mae',r2_keras])

print(model.summary())

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_13 (LSTM)               (None, 20, 100)           52800
_________________________________________________________________
dropout_13 (Dropout)         (None, 20, 100)           0
_________________________________________________________________
lstm_14 (LSTM)               (None, 50)                30200
_________________________________________________________________
dropout_14 (Dropout)         (None, 50)                0
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 51
_________________________________________________________________
activation_7 (Activation)    (None, 1)                 0
=================================================================
Total params: 83,051
Trainable params: 83,051
Non-trainable params: 0
_________________________________________________________________
None

In [78]:
# fit the network
model_path='use_onehot.h5'
history = model.fit(seq_array, label_array, epochs=100, batch_size=200, validation_split=0.05, verbose=2,
          callbacks = [keras.callbacks.EarlyStopping(monitor='val_loss', min_delta=0, patience=10, verbose=0, mode='min'),
                       keras.callbacks.ModelCheckpoint(model_path,monitor='val_loss', save_best_only=True, mode='min', verbose=0)]
          )

# list all data in history
print(history.history.keys())

Train on 46131 samples, validate on 2428 samples
Epoch 1/100
 - 51s - loss: 6726.1548 - mean_absolute_error: 70.7942 - r2_keras: -2.5909e+00 - val_loss: 6394.7207 - val_mean_absolute_error: 69.3429 - val_r2_keras: -2.9137e+00
Epoch 2/100
 - 42s - loss: 5215.8203 - mean_absolute_error: 61.5999 - r2_keras: -1.7863e+00 - val_loss: 4966.2334 - val_mean_absolute_error: 60.8210 - val_r2_keras: -2.0872e+00
Epoch 3/100
 - 40s - loss: 4012.3864 - mean_absolute_error: 54.0799 - r2_keras: -1.1444e+00 - val_loss: 3812.7795 - val_mean_absolute_error: 53.6616 - val_r2_keras: -1.4755e+00
Epoch 4/100
 - 40s - loss: 3089.3173 - mean_absolute_error: 48.1131 - r2_keras: -6.5008e-01 - val_loss: 2935.4437 - val_mean_absolute_error: 47.8788 - val_r2_keras: -1.0780e+00
Epoch 5/100
 - 40s - loss: 2439.8939 - mean_absolute_error: 43.5796 - r2_keras: -3.0215e-01 - val_loss: 2330.4375 - val_mean_absolute_error: 43.4598 - val_r2_keras: -8.9042e-01
Epoch 6/100
 - 41s - loss: 2063.2116 - mean_absolute_error: 40.5730 - r2_keras: -9.8701e-02 - val_loss: 1996.4564 - val_mean_absolute_error: 40.4557 - val_r2_keras: -9.0033e-01
Epoch 7/100
 - 42s - loss: 1930.4763 - mean_absolute_error: 39.0807 - r2_keras: -2.8605e-02 - val_loss: 1914.6011 - val_mean_absolute_error: 39.3451 - val_r2_keras: -9.7809e-01
Epoch 8/100
 - 41s - loss: 1921.1671 - mean_absolute_error: 38.8284 - r2_keras: -2.2749e-02 - val_loss: 1911.7371 - val_mean_absolute_error: 39.2883 - val_r2_keras: -9.8428e-01
Epoch 9/100
 - 42s - loss: 1925.2548 - mean_absolute_error: 38.8374 - r2_keras: -2.4706e-02 - val_loss: 1913.5873 - val_mean_absolute_error: 39.3255 - val_r2_keras: -9.8021e-01
Epoch 10/100
 - 44s - loss: 1922.3479 - mean_absolute_error: 38.8315 - r2_keras: -2.3410e-02 - val_loss: 1911.6810 - val_mean_absolute_error: 39.2871 - val_r2_keras: -9.8441e-01
Epoch 11/100
 - 44s - loss: 1923.9500 - mean_absolute_error: 38.8215 - r2_keras: -2.3752e-02 - val_loss: 1912.1561 - val_mean_absolute_error: 39.2969 - val_r2_keras: -9.8333e-01
Epoch 12/100
 - 47s - loss: 1924.2118 - mean_absolute_error: 38.8390 - r2_keras: -2.4580e-02 - val_loss: 1911.0592 - val_mean_absolute_error: 39.2742 - val_r2_keras: -9.8585e-01
Epoch 13/100
 - 42s - loss: 1920.6498 - mean_absolute_error: 38.8071 - r2_keras: -2.2036e-02 - val_loss: 1911.6802 - val_mean_absolute_error: 39.2871 - val_r2_keras: -9.8441e-01
Epoch 14/100
 - 41s - loss: 1923.4792 - mean_absolute_error: 38.8244 - r2_keras: -2.4189e-02 - val_loss: 1912.2892 - val_mean_absolute_error: 39.2996 - val_r2_keras: -9.8303e-01
Epoch 15/100
 - 41s - loss: 1925.1105 - mean_absolute_error: 38.8508 - r2_keras: -2.4145e-02 - val_loss: 1912.0770 - val_mean_absolute_error: 39.2953 - val_r2_keras: -9.8351e-01
Epoch 16/100
 - 46s - loss: 1802.7138 - mean_absolute_error: 37.3458 - r2_keras: 0.0393 - val_loss: 1761.2828 - val_mean_absolute_error: 36.3710 - val_r2_keras: -2.1370e-01
Epoch 17/100
 - 46s - loss: 1191.5170 - mean_absolute_error: 29.7017 - r2_keras: 0.3643 - val_loss: 1865.9994 - val_mean_absolute_error: 35.1782 - val_r2_keras: -2.9251e-01
Epoch 18/100
 - 43s - loss: 971.3516 - mean_absolute_error: 26.1384 - r2_keras: 0.4815 - val_loss: 1175.9367 - val_mean_absolute_error: 29.5241 - val_r2_keras: 0.1954
Epoch 19/100
 - 43s - loss: 823.0864 - mean_absolute_error: 23.3259 - r2_keras: 0.5604 - val_loss: 1759.8664 - val_mean_absolute_error: 31.9859 - val_r2_keras: -2.1981e-01
Epoch 20/100
 - 41s - loss: 734.5281 - mean_absolute_error: 21.4456 - r2_keras: 0.6081 - val_loss: 974.9265 - val_mean_absolute_error: 25.6782 - val_r2_keras: 0.3210
Epoch 21/100
 - 41s - loss: 693.5101 - mean_absolute_error: 20.5926 - r2_keras: 0.6299 - val_loss: 943.6211 - val_mean_absolute_error: 25.1021 - val_r2_keras: 0.3527
Epoch 22/100
 - 42s - loss: 663.5323 - mean_absolute_error: 20.0315 - r2_keras: 0.6459 - val_loss: 1034.3154 - val_mean_absolute_error: 25.2559 - val_r2_keras: 0.2811
Epoch 23/100
 - 41s - loss: 644.1659 - mean_absolute_error: 19.6493 - r2_keras: 0.6559 - val_loss: 803.2991 - val_mean_absolute_error: 23.4227 - val_r2_keras: 0.4579
Epoch 24/100
 - 44s - loss: 632.2683 - mean_absolute_error: 19.4252 - r2_keras: 0.6622 - val_loss: 776.9585 - val_mean_absolute_error: 23.6226 - val_r2_keras: 0.4752
Epoch 25/100
 - 42s - loss: 619.3244 - mean_absolute_error: 19.1945 - r2_keras: 0.6692 - val_loss: 849.6263 - val_mean_absolute_error: 24.2947 - val_r2_keras: 0.3969
Epoch 26/100
 - 42s - loss: 609.1392 - mean_absolute_error: 19.0125 - r2_keras: 0.6741 - val_loss: 782.9121 - val_mean_absolute_error: 22.7353 - val_r2_keras: 0.4581
Epoch 27/100
 - 42s - loss: 595.7585 - mean_absolute_error: 18.8157 - r2_keras: 0.6814 - val_loss: 972.3143 - val_mean_absolute_error: 24.1980 - val_r2_keras: 0.3288
Epoch 28/100
 - 40s - loss: 586.6710 - mean_absolute_error: 18.6559 - r2_keras: 0.6870 - val_loss: 801.4767 - val_mean_absolute_error: 21.9794 - val_r2_keras: 0.4452
Epoch 29/100
 - 41s - loss: 574.8659 - mean_absolute_error: 18.4588 - r2_keras: 0.6926 - val_loss: 675.8932 - val_mean_absolute_error: 20.6202 - val_r2_keras: 0.5293
Epoch 30/100
 - 40s - loss: 566.1424 - mean_absolute_error: 18.2660 - r2_keras: 0.6970 - val_loss: 802.6280 - val_mean_absolute_error: 23.1656 - val_r2_keras: 0.4668
Epoch 31/100
 - 42s - loss: 547.5409 - mean_absolute_error: 17.9423 - r2_keras: 0.7071 - val_loss: 671.2687 - val_mean_absolute_error: 20.2383 - val_r2_keras: 0.5407
Epoch 32/100
 - 41s - loss: 536.6266 - mean_absolute_error: 17.7565 - r2_keras: 0.7132 - val_loss: 1095.7735 - val_mean_absolute_error: 24.5616 - val_r2_keras: 0.2220
Epoch 33/100
 - 42s - loss: 521.5997 - mean_absolute_error: 17.4863 - r2_keras: 0.7205 - val_loss: 681.1143 - val_mean_absolute_error: 20.3877 - val_r2_keras: 0.5328
Epoch 34/100
 - 42s - loss: 512.6839 - mean_absolute_error: 17.3156 - r2_keras: 0.7258 - val_loss: 720.3519 - val_mean_absolute_error: 20.8939 - val_r2_keras: 0.5033
Epoch 35/100
 - 44s - loss: 486.1527 - mean_absolute_error: 16.8540 - r2_keras: 0.7407 - val_loss: 888.1990 - val_mean_absolute_error: 22.7703 - val_r2_keras: 0.4154
Epoch 36/100
 - 41s - loss: 468.1653 - mean_absolute_error: 16.5374 - r2_keras: 0.7492 - val_loss: 718.9613 - val_mean_absolute_error: 20.5200 - val_r2_keras: 0.5005
Epoch 37/100
 - 42s - loss: 441.1931 - mean_absolute_error: 16.0775 - r2_keras: 0.7638 - val_loss: 787.3003 - val_mean_absolute_error: 21.1700 - val_r2_keras: 0.4510
Epoch 38/100
 - 42s - loss: 416.2209 - mean_absolute_error: 15.5699 - r2_keras: 0.7775 - val_loss: 1316.5572 - val_mean_absolute_error: 26.7289 - val_r2_keras: 0.0909
Epoch 39/100
 - 43s - loss: 394.1916 - mean_absolute_error: 15.1058 - r2_keras: 0.7891 - val_loss: 938.5309 - val_mean_absolute_error: 23.0931 - val_r2_keras: 0.3651
Epoch 40/100
 - 49s - loss: 369.4569 - mean_absolute_error: 14.6304 - r2_keras: 0.8024 - val_loss: 817.5350 - val_mean_absolute_error: 21.7271 - val_r2_keras: 0.4318
Epoch 41/100
 - 41s - loss: 339.9341 - mean_absolute_error: 14.0851 - r2_keras: 0.8182 - val_loss: 905.9113 - val_mean_absolute_error: 22.9409 - val_r2_keras: 0.3989
dict_keys(['val_loss', 'val_mean_absolute_error', 'val_r2_keras', 'loss', 'mean_absolute_error', 'r2_keras'])

In [79]:
# training metrics
scores = model.evaluate(seq_array, label_array, verbose=1, batch_size=200)
print('Loss: {}'.format(scores[0]))

48559/48559 [==============================] - 15s 307us/step
Loss: 300.2082350738418

### Calculate result

In [65]:
# We pick the last sequence for each id in the test data
test = [td[td['id']==id][sequence_cols].values[-sequence_length:] 
                       for id in td['id'].unique() if len(td[td['id']==id]) >= sequence_length]

test = np.asarray(test).astype(np.float32)

In [80]:
model.load_weights('use_onehot.h5')
result = model.predict(test,verbose=1)
result

259/259 [==============================] - 2s 7ms/step

array([[ 11.681555],
       [124.19043 ],
       [ 68.55265 ],
       [117.64775 ],
       [ 12.819969],
       [125.34082 ],
       [ 14.492691],
       [ 28.435743],
       [ 11.017189],
       [113.78301 ],
       [ 22.925804],
       [117.18085 ],
       [ 38.05928 ],
       [  8.772371],
       [ 44.53334 ],
       [105.28545 ],
       [ 90.97953 ],
       [123.88501 ],
       [ 21.03771 ],
       [ 94.332436],
       [ 72.99802 ],
       [ 37.31019 ],
       [126.08    ],
       [ 63.633007],
       [ 80.33124 ],
       [120.07203 ],
       [122.47141 ],
       [126.33308 ],
       [101.443825],
       [ 79.655396],
       [ 83.9844  ],
       [ 15.521709],
       [ 46.09466 ],
       [126.24295 ],
       [112.43518 ],
       [ 88.06051 ],
       [121.71031 ],
       [ 32.17783 ],
       [ 39.840916],
       [ 79.20285 ],
       [ 40.678875],
       [ 48.02242 ],
       [ 46.28583 ],
       [ 50.074837],
       [ 10.999805],
       [107.51564 ],
       [117.17153 ],
       [ 34.698612],
       [121.34709 ],
       [ 17.83174 ],
       [126.50904 ],
       [ 13.079758],
       [ 43.920834],
       [110.57352 ],
       [ 85.74401 ],
       [119.966644],
       [117.15558 ],
       [ 33.242966],
       [126.567505],
       [ 74.94745 ],
       [120.52026 ],
       [ 39.782337],
       [ 78.98266 ],
       [ 14.062923],
       [ 37.55708 ],
       [122.90263 ],
       [ 73.99663 ],
       [ 82.978226],
       [ 89.11481 ],
       [ 14.970812],
       [124.76475 ],
       [ 66.37073 ],
       [ 81.31424 ],
       [105.032974],
       [ 89.814316],
       [ 23.36545 ],
       [115.53227 ],
       [ 80.02252 ],
       [ 96.27338 ],
       [  8.770258],
       [120.2756  ],
       [106.84143 ],
       [123.455826],
       [ 15.457193],
       [ 42.675205],
       [111.184166],
       [ 21.600021],
       [ 58.18903 ],
       [124.7036  ],
       [ 31.827698],
       [ 21.415276],
       [ 87.8837  ],
       [118.786026],
       [ 87.710434],
       [112.71298 ],
       [ 44.67468 ],
       [ 21.957178],
       [ 98.589226],
       [ 14.141321],
       [ 40.51871 ],
       [126.5202  ],
       [ 32.131428],
       [  9.190535],
       [ 91.34032 ],
       [124.31677 ],
       [120.74341 ],
       [ 44.199055],
       [ 94.59033 ],
       [ 38.37846 ],
       [ 92.46513 ],
       [ 34.111485],
       [ 65.047325],
       [124.549614],
       [ 75.20796 ],
       [ 74.41733 ],
       [  9.882594],
       [125.34777 ],
       [102.98761 ],
       [ 91.07649 ],
       [ 21.679644],
       [124.4199  ],
       [126.56407 ],
       [124.00737 ],
       [ 10.72831 ],
       [120.36968 ],
       [104.50757 ],
       [ 59.51543 ],
       [ 96.92091 ],
       [ 62.74676 ],
       [102.67868 ],
       [117.138824],
       [ 67.39198 ],
       [ 70.658844],
       [ 18.13225 ],
       [103.636475],
       [119.32843 ],
       [ 60.163425],
       [  8.929089],
       [104.211685],
       [ 76.5303  ],
       [118.4218  ],
       [ 43.68033 ],
       [ 79.51912 ],
       [ 46.01752 ],
       [ 97.65153 ],
       [ 22.416748],
       [117.36153 ],
       [ 24.49588 ],
       [118.65892 ],
       [ 16.406975],
       [ 86.32965 ],
       [100.984116],
       [ 82.05017 ],
       [124.83009 ],
       [115.36215 ],
       [116.56942 ],
       [ 76.56706 ],
       [ 26.623756],
       [ 13.427668],
       [102.51001 ],
       [ 18.914352],
       [ 62.953846],
       [ 97.42855 ],
       [  9.902969],
       [126.53264 ],
       [104.71759 ],
       [118.92136 ],
       [ 97.566284],
       [122.35159 ],
       [106.94681 ],
       [ 51.93028 ],
       [ 91.73115 ],
       [ 28.887272],
       [125.52273 ],
       [118.54271 ],
       [ 35.024834],
       [  9.645313],
       [123.265335],
       [ 66.05751 ],
       [ 89.76361 ],
       [ 30.475079],
       [ 12.776577],
       [ 70.28495 ],
       [123.57204 ],
       [ 29.92255 ],
       [ 15.856077],
       [111.927734],
       [110.698364],
       [ 63.65601 ],
       [ 26.714676],
       [102.80496 ],
       [ 41.332638],
       [ 26.091843],
       [126.475845],
       [ 70.430115],
       [103.48529 ],
       [125.41755 ],
       [105.27345 ],
       [102.43    ],
       [124.443985],
       [126.57829 ],
       [ 85.06743 ],
       [103.2175  ],
       [125.951805],
       [125.74417 ],
       [ 69.72423 ],
       [ 79.39986 ],
       [ 13.225119],
       [ 52.31177 ],
       [ 15.208715],
       [ 31.900053],
       [ 57.611042],
       [ 19.795547],
       [114.87866 ],
       [114.94103 ],
       [116.699265],
       [126.20253 ],
       [126.573166],
       [ 96.07829 ],
       [125.29433 ],
       [124.74881 ],
       [ 54.542652],
       [126.540344],
       [125.899796],
       [ 19.19379 ],
       [ 94.60977 ],
       [ 12.02809 ],
       [125.962616],
       [ 98.11334 ],
       [ 87.99157 ],
       [ 11.152182],
       [ 49.051037],
       [126.42876 ],
       [ 84.69693 ],
       [109.39341 ],
       [ 17.112188],
       [ 28.400356],
       [111.90706 ],
       [ 91.07243 ],
       [125.33904 ],
       [118.826485],
       [ 14.737011],
       [125.49224 ],
       [125.69152 ],
       [ 12.416288],
       [109.76918 ],
       [120.92882 ],
       [ 84.55522 ],
       [126.4     ],
       [ 12.623005],
       [125.232254],
       [ 20.22959 ],
       [ 98.51105 ],
       [ 87.40952 ],
       [ 73.16513 ],
       [124.247345],
       [ 89.268616],
       [102.66374 ],
       [100.072624]], dtype=float32)

In [133]:
result.shape

(259, 1)

---

### 生成 .csv 文件

In [38]:
import time

In [39]:
localtime = time.asctime( time.localtime(time.time()) )

In [81]:
submit = pd.read_excel('../results_submission.xls')
submit['RUL prediction']=result
submit.to_csv('1.csv')

## 计分！

In [51]:
ans = np.loadtxt('../RUL_FD002.txt')
ans.shape

(259,)

In [52]:
def score(user_ans):
    user_ans_arr = np.array(user_ans)
    score = 0
    diff = user_ans_arr - ans
    diff_pos = diff[diff>=0]
    diff_neg = diff[diff<0]
    score = np.sum((np.exp(-1./13.*diff_neg)-1))+np.sum((np.exp(1./10.*diff_pos)-1))
    return score

In [82]:
re = pd.read_csv('./1.csv')
pred_rul=re['RUL prediction']
result[0]

array([11.681555], dtype=float32)

In [83]:
score(pred_rul)

11444.487385462184