In [17]:
import keras
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Setting seed for reproducability
np.random.seed(1234)  
PYTHONHASHSEED = 0
from sklearn import preprocessing
from sklearn.metrics import confusion_matrix, recall_score, precision_score
from keras.models import Sequential, load_model
from keras.layers import Dense, Dropout, LSTM, Activation, Conv1D, MaxPooling1D, Masking
%matplotlib inline

In [18]:
jet = pd.read_table('../train_data.txt',sep=' ',header=None)
jet.drop([26,27],axis=1,inplace=True)
jet.columns = ['id', 'cycle', 'setting1', 'setting2', 'setting3', 's1', 's2', 's3',
                     's4', 's5', 's6', 's7', 's8', 's9', 's10', 's11', 's12', 's13', 's14',
                     's15', 's16', 's17', 's18', 's19', 's20', 's21']
train_df = jet
train_df.head()

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
0,1,1,34.9983,0.8400,100.0,449.44,555.32,1358.61,1137.23,5.48,...,183.06,2387.72,8048.56,9.3461,0.02,334,2223,100.00,14.73,8.8071
1,1,2,41.9982,0.8408,100.0,445.00,549.90,1353.22,1125.78,3.91,...,130.42,2387.66,8072.30,9.3774,0.02,330,2212,100.00,10.41,6.2665
2,1,3,24.9988,0.6218,60.0,462.54,537.31,1256.76,1047.45,7.05,...,164.22,2028.03,7864.87,10.8941,0.02,309,1915,84.93,14.08,8.6723
3,1,4,42.0077,0.8416,100.0,445.00,549.51,1354.03,1126.38,3.91,...,130.72,2387.61,8068.66,9.3528,0.02,329,2212,100.00,10.59,6.4701
4,1,5,25.0005,0.6203,60.0,462.54,537.07,1257.71,1047.93,7.05,...,164.31,2028.00,7861.23,10.8963,0.02,309,1915,84.93,14.13,8.5286

In [19]:
td = pd.read_table('../test_data.txt',sep=' ',header=None)
td.drop([26,27],axis=1,inplace=True)
td.columns = ['id', 'cycle', 'setting1', 'setting2', 'setting3', 's1', 's2', 's3',
                     's4', 's5', 's6', 's7', 's8', 's9', 's10', 's11', 's12', 's13', 's14',
                     's15', 's16', 's17', 's18', 's19', 's20', 's21']
td.head()

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
0,1,1,9.9987,0.2502,100.0,489.05,605.03,1497.17,1304.99,10.52,...,371.69,2388.18,8114.10,8.6476,0.03,369,2319,100.00,28.42,17.1551
1,1,2,20.0026,0.7000,100.0,491.19,607.82,1481.20,1246.11,9.35,...,315.32,2388.12,8053.06,9.2405,0.02,364,2324,100.00,24.29,14.8039
2,1,3,35.0045,0.8400,100.0,449.44,556.00,1359.08,1128.36,5.48,...,183.04,2387.75,8053.04,9.3472,0.02,333,2223,100.00,14.98,8.9125
3,1,4,42.0066,0.8410,100.0,445.00,550.17,1349.69,1127.89,3.91,...,130.40,2387.72,8066.90,9.3961,0.02,332,2212,100.00,10.35,6.4181
4,1,5,24.9985,0.6213,60.0,462.54,536.72,1253.18,1050.69,7.05,...,164.56,2028.05,7865.66,10.8682,0.02,305,1915,84.93,14.31,8.5740

In [20]:
from sklearn import cluster

In [21]:
k_cluster = cluster.KMeans(n_clusters=6)

In [22]:
def max_min_normalize(df):
    return (df-df.min())/(df.max()-df.min())

In [23]:
feature = jet[['setting1','setting2','setting3']]
test_feature = td[['setting1','setting2','setting3']]

In [24]:
train_data = np.array(max_min_normalize(feature))
test_data = np.array(max_min_normalize(test_feature))

In [25]:
k_cluster.fit(train_data)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=6, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [26]:
train_mode = pd.DataFrame(k_cluster.labels_)
test_mode = pd.DataFrame(k_cluster.predict(test_data))

In [27]:
train_df['mode1']=0
train_df['mode2']=0
train_df['mode3']=0
train_df['mode4']=0
train_df['mode5']=0
train_df['mode6']=0
train_df.loc[train_mode[0]==0,['mode1','mode2','mode3','mode4','mode5','mode6']]=[1,0,0,0,0,0]
train_df.loc[train_mode[0]==1,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,1,0,0,0,0]
train_df.loc[train_mode[0]==2,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,0,1,0,0,0]
train_df.loc[train_mode[0]==3,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,0,0,1,0,0]
train_df.loc[train_mode[0]==4,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,0,0,0,1,0]
train_df.loc[train_mode[0]==5,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,0,0,0,0,1]

In [28]:
td['mode1']=0
td['mode2']=0
td['mode3']=0
td['mode4']=0
td['mode5']=0
td['mode6']=0
td.loc[test_mode[0]==0,['mode1','mode2','mode3','mode4','mode5','mode6']]=[1,0,0,0,0,0]
td.loc[test_mode[0]==1,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,1,0,0,0,0]
td.loc[test_mode[0]==2,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,0,1,0,0,0]
td.loc[test_mode[0]==3,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,0,0,1,0,0]
td.loc[test_mode[0]==4,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,0,0,0,1,0]
td.loc[test_mode[0]==5,['mode1','mode2','mode3','mode4','mode5','mode6']]=[0,0,0,0,0,1]

In [29]:
# Data Labeling - generate column RUL
rul = pd.DataFrame(train_df.groupby('id')['cycle'].max()).reset_index()
rul.columns = ['id', 'max']
train_df = train_df.merge(rul, on=['id'], how='left')
train_df['RUL'] = train_df['max'] - train_df['cycle']
train_df.drop('max', axis=1, inplace=True)
train_df.loc[train_df['RUL']>130,['RUL']]=130
train_df.head()

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s19,s20,s21,mode1,mode2,mode3,mode4,mode5,mode6,RUL
0,1,1,34.9983,0.8400,100.0,449.44,555.32,1358.61,1137.23,5.48,...,100.00,14.73,8.8071,0,1,0,0,0,0,130
1,1,2,41.9982,0.8408,100.0,445.00,549.90,1353.22,1125.78,3.91,...,100.00,10.41,6.2665,0,0,0,0,0,1,130
2,1,3,24.9988,0.6218,60.0,462.54,537.31,1256.76,1047.45,7.05,...,84.93,14.08,8.6723,1,0,0,0,0,0,130
3,1,4,42.0077,0.8416,100.0,445.00,549.51,1354.03,1126.38,3.91,...,100.00,10.59,6.4701,0,0,0,0,0,1,130
4,1,5,25.0005,0.6203,60.0,462.54,537.07,1257.71,1047.93,7.05,...,84.93,14.13,8.5286,1,0,0,0,0,0,130

In [30]:
# normalize the columns in the training data.
# MinMax normalization
train_df['cycle_norm'] = train_df['cycle']
cols_normalize = train_df.columns.difference(['id','cycle','RUL'])
min_max_scaler = preprocessing.MinMaxScaler()
norm_train_df = pd.DataFrame(min_max_scaler.fit_transform(train_df[cols_normalize]), 
                             columns=cols_normalize, 
                             index=train_df.index)
join_df = train_df[train_df.columns.difference(cols_normalize)].join(norm_train_df)
train_df = join_df.reindex(columns = train_df.columns)
train_df

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s20,s21,mode1,mode2,mode3,mode4,mode5,mode6,RUL,cycle_norm
0,1,1,0.833134,0.997625,1.0,0.060269,0.181576,0.311201,0.273095,0.146592,...,0.156036,0.159082,0.0,1.0,0.0,0.0,0.0,0.0,130,0.000000
1,1,2,0.999767,0.998575,1.0,0.000000,0.131847,0.296600,0.245535,0.000000,...,0.007888,0.014562,0.0,0.0,0.0,0.0,0.0,1.0,130,0.002653
2,1,3,0.595096,0.738480,0.0,0.238089,0.016332,0.035297,0.056997,0.293184,...,0.133745,0.151414,1.0,0.0,0.0,0.0,0.0,0.0,130,0.005305
3,1,4,0.999993,0.999525,1.0,0.000000,0.128269,0.298795,0.246979,0.000000,...,0.014060,0.026144,0.0,0.0,0.0,0.0,0.0,1.0,130,0.007958
4,1,5,0.595137,0.736698,0.0,0.238089,0.014130,0.037871,0.058152,0.293184,...,0.135460,0.143240,1.0,0.0,0.0,0.0,0.0,0.0,130,0.010610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53754,260,312,0.476188,0.831354,1.0,0.626985,0.672172,0.682297,0.591489,0.507937,...,0.486283,0.483993,0.0,0.0,0.0,1.0,0.0,0.0,4,0.824934
53755,260,313,0.238102,0.298100,1.0,0.597937,0.644830,0.733008,0.722934,0.617180,...,0.614540,0.622022,0.0,0.0,0.0,0.0,1.0,0.0,3,0.827586
53756,260,314,0.595222,0.736342,0.0,0.238089,0.017892,0.088067,0.082198,0.293184,...,0.137517,0.144474,1.0,0.0,0.0,0.0,0.0,0.0,2,0.830239
53757,260,315,0.595203,0.738717,0.0,0.238089,0.021195,0.079155,0.102368,0.293184,...,0.132716,0.134383,1.0,0.0,0.0,0.0,0.0,0.0,1,0.832891
53758,260,316,0.833260,0.997625,1.0,0.060269,0.193687,0.354544,0.293049,0.146592,...,0.156722,0.161215,0.0,1.0,0.0,0.0,0.0,0.0,0,0.835544

In [31]:
# normalize the columns in the test data.
# MinMax normalization
td['cycle_norm'] = td['cycle']
cols_normalize = td.columns.difference(['id','cycle'])
min_max_scaler = preprocessing.MinMaxScaler()
norm_train_df = pd.DataFrame(min_max_scaler.fit_transform(td[cols_normalize]), 
                             columns=cols_normalize, 
                             index=td.index)
join_df = td[td.columns.difference(cols_normalize)].join(norm_train_df)
td = join_df.reindex(columns = td.columns)
td

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s19,s20,s21,mode1,mode2,mode3,mode4,mode5,mode6,cycle_norm
0,1,1,0.238019,0.297150,1.0,0.597937,0.639243,0.691329,0.680395,0.617180,...,1.0,0.625944,0.630724,0.0,0.0,0.0,0.0,1.0,0.0,0.000000
1,1,2,0.476162,0.831354,1.0,0.626985,0.664861,0.647519,0.534663,0.507937,...,1.0,0.484214,0.496301,0.0,0.0,0.0,1.0,0.0,0.0,0.002732
2,1,3,0.833282,0.997625,1.0,0.060269,0.189055,0.312512,0.243225,0.146592,...,1.0,0.164722,0.159476,0.0,1.0,0.0,0.0,0.0,0.0,0.005464
3,1,4,0.999967,0.998812,1.0,0.000000,0.135525,0.286753,0.242061,0.000000,...,1.0,0.005834,0.016866,0.0,0.0,0.0,0.0,0.0,1.0,0.008197
4,1,5,0.595089,0.737886,0.0,0.238089,0.012028,0.022001,0.050986,0.293184,...,0.0,0.141730,0.140123,1.0,0.0,0.0,0.0,0.0,0.0,0.010929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33986,259,119,0.833210,0.997981,1.0,0.060269,0.185015,0.331523,0.245972,0.146592,...,1.0,0.163349,0.159133,0.0,1.0,0.0,0.0,0.0,0.0,0.322404
33987,259,120,0.999967,0.998219,1.0,0.000000,0.128638,0.290703,0.232087,0.000000,...,1.0,0.013384,0.016260,0.0,0.0,0.0,0.0,0.0,1.0,0.325137
33988,259,121,0.999955,0.997625,1.0,0.000000,0.130750,0.285244,0.219835,0.000000,...,1.0,0.013384,0.020433,0.0,0.0,0.0,0.0,0.0,1.0,0.327869
33989,259,122,0.000057,0.000356,1.0,1.000000,0.984024,0.944915,0.935747,1.000000,...,1.0,0.991764,0.985410,0.0,0.0,1.0,0.0,0.0,0.0,0.330601
33990,259,123,0.999888,0.997625,1.0,0.000000,0.131852,0.267029,0.239759,0.000000,...,1.0,0.015443,0.012858,0.0,0.0,0.0,0.0,0.0,1.0,0.333333

In [32]:
# function to reshape features into (samples, time steps, features) 
def gen_sequence(id_df, seq_length, seq_cols):
    """ Only sequences that meet the window-length are considered, no padding is used. This means for testing
    we need to drop those which are below the window-length. An alternative would be to pad sequences so that
    we can use shorter ones """
    data_array = id_df[seq_cols].values
    num_elements = data_array.shape[0]
    for start, stop in zip(range(0, num_elements-seq_length), range(seq_length, num_elements)):
        yield data_array[start:stop, :]
    # For example id1 have 192 rows and sequence_length is equal to 50
    # so zip iterate over two following list of numbers (0,112),(50,192)
    # 0 50 -> from row 0 to row 50
    # 1 51 -> from row 1 to row 51
    # 2 52 -> from row 2 to row 52
    # ...
    # 111 191 -> from row 111 to 191

In [33]:
# pick the feature columns 
sensor_cols = ['s' + str(i) for i in range(1,22)]
sequence_cols = ['setting1', 'setting2', 'setting3','cycle_norm','mode1','mode2','mode3','mode4','mode5','mode6']
# sequence_cols = ['setting1', 'setting2', 'setting3','cycle_norm']
sequence_cols.extend(sensor_cols)

In [34]:
sequence_length = 50

In [35]:
# generator for the sequences
seq_gen = (list(gen_sequence(train_df[train_df['id']==id], sequence_length, sequence_cols)) 
           for id in train_df['id'].unique())

# generate sequences and convert to numpy array
seq_array = np.concatenate(list(seq_gen)).astype(np.float32)
seq_array.shape

(40759, 50, 31)

In [36]:
# function to generate labels
def gen_labels(id_df, seq_length, label):
    data_array = id_df[label].values
    num_elements = data_array.shape[0]
    return data_array[seq_length:num_elements, :]

In [37]:
# generate labels
label_gen = [gen_labels(train_df[train_df['id']==id], sequence_length, ['RUL']) 
             for id in train_df['id'].unique()]
label_array = np.concatenate(label_gen).astype(np.float32)

In [38]:
import keras.backend as K

In [39]:
def r2_keras(y_true, y_pred):
    """Coefficient of Determination 
    """
    SS_res =  K.sum(K.square( y_true - y_pred ))
    SS_tot = K.sum(K.square( y_true - K.mean(y_true) ) )
    return ( 1 - SS_res/(SS_tot + K.epsilon()) )

In [40]:
def scoring_error(y_true, y_pred):
    diff = y_pred - y_true
    diff_pos = diff[diff>=0]
    diff_neg = diff[diff<0]
    score = K.sum(K.exp(-1./13.*diff_neg)-1.)+K.sum(K.exp(1./10.*diff_pos)-1.)

    return score

In [41]:
# Build model with mask
nb_features = seq_array.shape[2]
nb_out = label_array.shape[1]

model = Sequential()

model.add(Masking(mask_value=0., input_shape=(sequence_length, nb_features)))

model.add(LSTM(
         units=100,
         return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(
          units=50,
          return_sequences=False))
model.add(Dropout(0.2))
model.add(Dense(units=nb_out))
model.add(Activation("linear"))
model.compile(loss='mean_squared_error', optimizer='rmsprop',metrics=['mae',r2_keras])
# model.compile(loss=scoring_error, optimizer='rmsprop',metrics=['mae',r2_keras])

print(model.summary())

WARNING:tensorflow:From /Users/zhehaoyu/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /Users/zhehaoyu/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /Users/zhehaoyu/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /Users/zhehaoyu/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:2974: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /Users/zhehaoyu/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:133: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From /Users/zhehaoyu/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
WARNING:tensorflow:From /Users/zhehaoyu/anaconda3/lib/python3.7/site-packages/keras/optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
masking_1 (Masking)          (None, 50, 31)            0
_________________________________________________________________
lstm_1 (LSTM)                (None, 50, 100)           52800
_________________________________________________________________
dropout_1 (Dropout)          (None, 50, 100)           0
_________________________________________________________________
lstm_2 (LSTM)                (None, 50)                30200
_________________________________________________________________
dropout_2 (Dropout)          (None, 50)                0
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 51
_________________________________________________________________
activation_1 (Activation)    (None, 1)                 0
=================================================================
Total params: 83,051
Trainable params: 83,051
Non-trainable params: 0
_________________________________________________________________
None

In [42]:
# fit the network
model_path='130_50.h5'
history = model.fit(seq_array, label_array, epochs=100, batch_size=200, validation_split=0.05, verbose=2,
          callbacks = [keras.callbacks.EarlyStopping(monitor='val_loss', min_delta=0, patience=10, verbose=0, mode='min'),
                       keras.callbacks.ModelCheckpoint(model_path,monitor='val_loss', save_best_only=True, mode='min', verbose=0)]
          )

# list all data in history
print(history.history.keys())

WARNING:tensorflow:From /Users/zhehaoyu/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

Train on 38721 samples, validate on 2038 samples
Epoch 1/100
 - 96s - loss: 5935.8758 - mean_absolute_error: 65.1418 - r2_keras: -2.2947e+00 - val_loss: 6051.8497 - val_mean_absolute_error: 65.9296 - val_r2_keras: -3.0988e+00
Epoch 2/100
 - 89s - loss: 4787.6609 - mean_absolute_error: 57.5896 - r2_keras: -1.6571e+00 - val_loss: 4920.0399 - val_mean_absolute_error: 58.8911 - val_r2_keras: -2.3127e+00
Epoch 3/100
 - 88s - loss: 3835.5039 - mean_absolute_error: 51.3074 - r2_keras: -1.1278e+00 - val_loss: 3966.0473 - val_mean_absolute_error: 52.8955 - val_r2_keras: -1.6875e+00
Epoch 4/100
 - 95s - loss: 3076.3658 - mean_absolute_error: 46.2705 - r2_keras: -7.0455e-01 - val_loss: 3199.3435 - val_mean_absolute_error: 48.0075 - val_r2_keras: -1.2292e+00
Epoch 5/100
 - 100s - loss: 2500.0192 - mean_absolute_error: 42.3694 - r2_keras: -3.8307e-01 - val_loss: 2616.5641 - val_mean_absolute_error: 44.2018 - val_r2_keras: -9.3506e-01
Epoch 6/100
 - 97s - loss: 2108.5080 - mean_absolute_error: 39.6728 - r2_keras: -1.6758e-01 - val_loss: 2220.5863 - val_mean_absolute_error: 41.5075 - val_r2_keras: -8.0326e-01
Epoch 7/100
 - 98s - loss: 1900.9881 - mean_absolute_error: 38.1756 - r2_keras: -5.2167e-02 - val_loss: 2011.1892 - val_mean_absolute_error: 39.9502 - val_r2_keras: -8.1517e-01
Epoch 8/100
 - 99s - loss: 1850.8290 - mean_absolute_error: 37.7339 - r2_keras: -2.3716e-02 - val_loss: 1990.1721 - val_mean_absolute_error: 39.7726 - val_r2_keras: -8.2397e-01
Epoch 9/100
 - 99s - loss: 1830.8111 - mean_absolute_error: 37.4828 - r2_keras: -1.3295e-02 - val_loss: 1928.1042 - val_mean_absolute_error: 39.1955 - val_r2_keras: -8.7802e-01
Epoch 10/100
 - 100s - loss: 1565.2001 - mean_absolute_error: 33.9318 - r2_keras: 0.1333 - val_loss: 1910.6164 - val_mean_absolute_error: 37.1722 - val_r2_keras: -4.1089e-01
Epoch 11/100
 - 99s - loss: 1204.2318 - mean_absolute_error: 29.2814 - r2_keras: 0.3331 - val_loss: 1854.0555 - val_mean_absolute_error: 36.0230 - val_r2_keras: -4.1197e-01
Epoch 12/100
 - 106s - loss: 1013.7116 - mean_absolute_error: 26.4876 - r2_keras: 0.4386 - val_loss: 1278.3124 - val_mean_absolute_error: 30.8446 - val_r2_keras: 0.0218
Epoch 13/100
 - 103s - loss: 890.2476 - mean_absolute_error: 24.5981 - r2_keras: 0.5066 - val_loss: 999.5140 - val_mean_absolute_error: 27.4064 - val_r2_keras: 0.1652
Epoch 14/100
 - 102s - loss: 831.1093 - mean_absolute_error: 23.5286 - r2_keras: 0.5390 - val_loss: 1643.2314 - val_mean_absolute_error: 32.1878 - val_r2_keras: -2.8752e-01
Epoch 15/100
 - 94s - loss: 793.5469 - mean_absolute_error: 22.8222 - r2_keras: 0.5609 - val_loss: 1437.0332 - val_mean_absolute_error: 30.4698 - val_r2_keras: -1.0655e-01
Epoch 16/100
 - 90s - loss: 766.7485 - mean_absolute_error: 22.3386 - r2_keras: 0.5751 - val_loss: 1407.5827 - val_mean_absolute_error: 29.9543 - val_r2_keras: -8.2971e-02
Epoch 17/100
 - 94s - loss: 746.0950 - mean_absolute_error: 21.9869 - r2_keras: 0.5866 - val_loss: 1128.1941 - val_mean_absolute_error: 26.9455 - val_r2_keras: 0.1130
Epoch 18/100
 - 92s - loss: 727.4421 - mean_absolute_error: 21.6068 - r2_keras: 0.5964 - val_loss: 968.4041 - val_mean_absolute_error: 25.9470 - val_r2_keras: 0.2438
Epoch 19/100
 - 89s - loss: 707.3718 - mean_absolute_error: 21.2635 - r2_keras: 0.6082 - val_loss: 750.0530 - val_mean_absolute_error: 23.6764 - val_r2_keras: 0.3571
Epoch 20/100
 - 87s - loss: 695.2899 - mean_absolute_error: 21.0674 - r2_keras: 0.6146 - val_loss: 945.3064 - val_mean_absolute_error: 25.1374 - val_r2_keras: 0.2353
Epoch 21/100
 - 89s - loss: 670.1286 - mean_absolute_error: 20.6314 - r2_keras: 0.6280 - val_loss: 1005.3995 - val_mean_absolute_error: 26.5947 - val_r2_keras: 0.2176
Epoch 22/100
 - 109s - loss: 656.1295 - mean_absolute_error: 20.3221 - r2_keras: 0.6363 - val_loss: 1044.9503 - val_mean_absolute_error: 25.9217 - val_r2_keras: 0.1205
Epoch 23/100
 - 107s - loss: 633.6563 - mean_absolute_error: 20.0201 - r2_keras: 0.6486 - val_loss: 827.0158 - val_mean_absolute_error: 23.6439 - val_r2_keras: 0.2276
Epoch 24/100
 - 104s - loss: 608.2861 - mean_absolute_error: 19.5199 - r2_keras: 0.6623 - val_loss: 1341.1817 - val_mean_absolute_error: 28.5571 - val_r2_keras: 0.0046
Epoch 25/100
 - 109s - loss: 586.2622 - mean_absolute_error: 19.0604 - r2_keras: 0.6747 - val_loss: 845.9658 - val_mean_absolute_error: 23.3533 - val_r2_keras: 0.2762
Epoch 26/100
 - 110s - loss: 568.6857 - mean_absolute_error: 18.8016 - r2_keras: 0.6844 - val_loss: 815.2266 - val_mean_absolute_error: 23.1659 - val_r2_keras: 0.3573
Epoch 27/100
 - 106s - loss: 536.7978 - mean_absolute_error: 18.2109 - r2_keras: 0.7019 - val_loss: 643.7793 - val_mean_absolute_error: 20.8620 - val_r2_keras: 0.4586
Epoch 28/100
 - 102s - loss: 521.6499 - mean_absolute_error: 17.8846 - r2_keras: 0.7106 - val_loss: 892.2864 - val_mean_absolute_error: 23.6355 - val_r2_keras: 0.3721
Epoch 29/100
 - 88s - loss: 498.3163 - mean_absolute_error: 17.4630 - r2_keras: 0.7233 - val_loss: 1274.6063 - val_mean_absolute_error: 28.8858 - val_r2_keras: -1.9666e-02
Epoch 30/100
 - 88s - loss: 484.5852 - mean_absolute_error: 17.1827 - r2_keras: 0.7305 - val_loss: 587.7515 - val_mean_absolute_error: 20.0661 - val_r2_keras: 0.5149
Epoch 31/100
 - 88s - loss: 452.4442 - mean_absolute_error: 16.6083 - r2_keras: 0.7490 - val_loss: 562.3012 - val_mean_absolute_error: 18.5844 - val_r2_keras: 0.5519
Epoch 32/100
 - 88s - loss: 425.0682 - mean_absolute_error: 16.0151 - r2_keras: 0.7638 - val_loss: 914.5601 - val_mean_absolute_error: 24.0055 - val_r2_keras: 0.2899
Epoch 33/100
 - 88s - loss: 401.8805 - mean_absolute_error: 15.5117 - r2_keras: 0.7768 - val_loss: 959.0451 - val_mean_absolute_error: 24.2585 - val_r2_keras: 0.1707
Epoch 34/100
 - 87s - loss: 374.0690 - mean_absolute_error: 14.9797 - r2_keras: 0.7919 - val_loss: 949.6537 - val_mean_absolute_error: 23.7436 - val_r2_keras: 0.2640
Epoch 35/100
 - 87s - loss: 357.9272 - mean_absolute_error: 14.5802 - r2_keras: 0.8013 - val_loss: 678.0493 - val_mean_absolute_error: 19.9542 - val_r2_keras: 0.4534
Epoch 36/100
 - 87s - loss: 333.4842 - mean_absolute_error: 14.0478 - r2_keras: 0.8151 - val_loss: 676.5847 - val_mean_absolute_error: 20.4981 - val_r2_keras: 0.4575
Epoch 37/100
 - 87s - loss: 304.8789 - mean_absolute_error: 13.4473 - r2_keras: 0.8306 - val_loss: 478.9114 - val_mean_absolute_error: 17.1992 - val_r2_keras: 0.5704
Epoch 38/100
 - 88s - loss: 287.2548 - mean_absolute_error: 12.9611 - r2_keras: 0.8405 - val_loss: 679.9342 - val_mean_absolute_error: 20.4826 - val_r2_keras: 0.4516
Epoch 39/100
 - 87s - loss: 263.7604 - mean_absolute_error: 12.4167 - r2_keras: 0.8537 - val_loss: 818.4116 - val_mean_absolute_error: 22.0513 - val_r2_keras: 0.3791
Epoch 40/100
 - 87s - loss: 240.2680 - mean_absolute_error: 11.8315 - r2_keras: 0.8663 - val_loss: 936.6425 - val_mean_absolute_error: 23.6876 - val_r2_keras: 0.3013
Epoch 41/100
 - 87s - loss: 224.7594 - mean_absolute_error: 11.5113 - r2_keras: 0.8752 - val_loss: 880.6749 - val_mean_absolute_error: 23.1713 - val_r2_keras: 0.3321
Epoch 42/100
 - 86s - loss: 208.2131 - mean_absolute_error: 11.0595 - r2_keras: 0.8847 - val_loss: 695.3886 - val_mean_absolute_error: 19.8570 - val_r2_keras: 0.4436
Epoch 43/100
 - 87s - loss: 193.6993 - mean_absolute_error: 10.6892 - r2_keras: 0.8925 - val_loss: 731.0477 - val_mean_absolute_error: 20.4471 - val_r2_keras: 0.4096
Epoch 44/100
 - 87s - loss: 184.5900 - mean_absolute_error: 10.3327 - r2_keras: 0.8978 - val_loss: 843.4078 - val_mean_absolute_error: 21.7320 - val_r2_keras: 0.3528
Epoch 45/100
 - 88s - loss: 173.4388 - mean_absolute_error: 10.0561 - r2_keras: 0.9036 - val_loss: 643.1011 - val_mean_absolute_error: 19.5996 - val_r2_keras: 0.4803
Epoch 46/100
 - 87s - loss: 162.6188 - mean_absolute_error: 9.7686 - r2_keras: 0.9096 - val_loss: 821.0505 - val_mean_absolute_error: 21.8892 - val_r2_keras: 0.3506
Epoch 47/100
 - 87s - loss: 151.1218 - mean_absolute_error: 9.4231 - r2_keras: 0.9159 - val_loss: 728.4633 - val_mean_absolute_error: 20.4212 - val_r2_keras: 0.4347
dict_keys(['val_loss', 'val_mean_absolute_error', 'val_r2_keras', 'loss', 'mean_absolute_error', 'r2_keras'])

In [43]:
scores = model.evaluate(seq_array, label_array, verbose=1, batch_size=200)
print('Loss: {}'.format(scores[0]))

40759/40759 [==============================] - 36s 871us/step
Loss: 115.23114151401174

In [44]:
test = []
for i in range(len(td.groupby('id'))):
    if len(td[td['id']==(i+1)]) >= sequence_length:
        test.append(np.asarray(td[td['id']==(i+1)][sequence_cols].values[-sequence_length:]).astype(np.float32).tolist())
    else:
        test.append(np.asarray(td[td['id']==(i+1)][sequence_cols].values[:]).astype(np.float32).tolist())

In [45]:
padded_inputs = keras.preprocessing.sequence.pad_sequences(test,dtype='float32',                                padding='post')

In [46]:
result = model.predict(padded_inputs,verbose=1)

259/259 [==============================] - 1s 5ms/step

In [47]:
submit = pd.read_excel('../results_submission.xls')
submit['RUL prediction']=result
submit.to_csv('130_50.csv')

In [48]:
ans = np.loadtxt('../RUL_FD002.txt')
ans.shape

(259,)

In [49]:
def score(user_ans):
    user_ans_arr = np.array(user_ans)
    score = 0
    diff = user_ans_arr - ans
    diff_pos = diff[diff>=0]
    diff_neg = diff[diff<0]
    score = np.sum((np.exp(-1./13.*diff_neg)-1))+np.sum((np.exp(1./10.*diff_pos)-1))
    return score

In [50]:
re = pd.read_csv('130_50.csv')
pred_rul=re['RUL prediction']

In [51]:
score(pred_rul)

21263.73262680423